// .content
//   .col-lg-4.no-padding
//     .latestspost
//       //this is latests post
//       = image_tag asset_path('voluntee.png')
//       .content.no-padding
//         = link_to 'detail.html', :title => "http://localhost:3000/blogpage/details" do
//           h3 Time To Work Social
//         end

//         ul.no-padding
//           li
//             = image_tag asset_path('calendar.png'), :class => "logo"
//           li
//             p 02 Jan 2016
//           li
//             = image_tag asset_path('comment.png'), :class => "logo"
//           li
//             p 2 comments
//         p In the first chapter we discussed how to build communities. Many of the communities you can build online are social media communities. In this chapter, we’re going to discuss some key ways you can build traffic to your blog once you have your social media communities established. Most people assume that social media sharing is easy.
//   .col-lg-4.no-padding
//     .latestspost
//       //this is latests post
//       = image_tag asset_path('voluntee1.png')
//       .content.no-padding
//         = link_to 'detail.html', :title => "http://localhost:3000/blogpage/details" do
//           h3 Time To Work Social
//         end
//         ul.no-padding
//           li
//             = image_tag asset_path('calendar.png'), :class => "logo"
//           li
//             p 02 Jan 2016
//           li
//             = image_tag asset_path('comment.png'), :class => "logo"
//           li
//             p 2 comments
//         p In the first chapter we discussed how to build communities. Many of the communities you can build online are social media communities. In this chapter, we’re going to discuss some key ways you can build traffic to your blog once you have your social media communities established. Most people assume that social media sharing is easy.
//   .col-lg-4.no-padding
//     .mostviewpost
//       // this is mostview

//       h3 Most View
//       - 3.times do
//         = image_tag asset_path('voluntee1.png')
//         .content_mostview.no-padding
//           = link_to 'detail.html', :title => "http://localhost:3000/blogpage/details" do
//             h4 Time To Work Social
//           end
//           ul.no-padding
//             li
//               = image_tag asset_path('calendar.png'), :class => "logo"
//             li
//               p 02 Jan 2016
//             li
//               = image_tag asset_path('comment.png'), :class => "logo"
//             li
//               p 2 comments

//   //another raw
//   .col-lg-4.no-padding
//     .latestspost
//       //this is latests post
//       = image_tag asset_path('voluntee.png')
//       .content.no-padding
//         = link_to 'detail.html', :title => "http://localhost:3000/blogpage/details" do
//           h3 Time To Work Social
//         end
//         ul.no-padding
//           li
//             = image_tag asset_path('calendar.png'), :class => "logo"
//           li
//             p 02 Jan 2016
//           li
//             = image_tag asset_path('comment.png'), :class => "logo"
//           li
//             p 2 comments
//         p In the first chapter we discussed how to build communities. Many of the communities you can build online are social media communities. In this chapter, we’re going to discuss some key ways you can build traffic to your blog once you have your social media communities established. Most people assume that social media sharing is easy.

//   .col-lg-4.no-padding
//     .latestspost
//       //this is latests post
//       = image_tag asset_path('voluntee1.png')
//       .content.no-padding
//         = link_to 'detail.html', :title => "http://localhost:3000/blogpage/details" do
//           h3 Time To Work Social
//         end
//         ul.no-padding
//           li
//             = image_tag asset_path('calendar.png'), :class => "logo"
//           li
//             p 02 Jan 2016
//           li
//             = image_tag asset_path('comment.png'), :class => "logo"
//           li
//             p 2 comments
//         p In the first chapter we discussed how to build communities. Many of the communities you can build online are social media communities. In this chapter, we’re going to discuss some key ways you can build traffic to your blog once you have your social media communities established. Most people assume that social media sharing is easy.
//   .col-lg-4.no-padding
//     .subcribe
//       // this is subcribe
//       form role="form"
//         .form-group
//           input#inputlg.form-control.input-lg placeholder="Name" type="text"
//           input#inputlg.form-control.input-lg placeholder="Email" type="text"
//       button.btn.btn_round.btn_blue SUBCRIBE


//- arrays


.main-container
  h1 Colorful CSS Buttons
  button.btn.btn-blue.btn-border-rev hello
  button.btn.btn-purple.btn-border-rev Chao
  // each name,type in btnTypes
  //   section
  //     h2= name
  //     each text,color in btnColors
  //       button class="btn btn-"+color+" btn-"+type