 /ul.menu-content
 /	li#home
 /		a href="#" class="home-btt" HOME
 /	li#service
 /		a href="#" class="service-btt" SERVICE
 /	li#porfolio
 / 		a href="#" class="work-btt" PORTFOLIO
 /	li#about
 / 		a href="#" class="about-btt" ABOUT
 / 	li#team
 / 		a href="#" class="team-btt" TEAM
/ 	li#contact
/ 		a href="#" class="contact-btt" CONTACT
