.header-section{
  width: 100%;
  padding: 5px 10% 0px 13%;
  z-index: 10;
  position: absolute;
  background-color: #f3c339;
  .navigation{
    .logo{
      padding-left: 20px;
      float: left;
      width: 30%;
      padding-top: 5px;
      margin-bottom: 5px;
      .image-logo{
        width: 50px;
        height: 55px;
        float: left;
        background: transparent;
        img{
          width: 100%;
          height: 100%;
        }
      }
      .title-logo{
        height: 55px;
        float: left;
        margin-top: 0px;
        .title-main{
          margin-top: 8px;
          padding: 0px 0px 10px 5px;
          /*color: #FCB829;*/
          color: black;
          text-transform: none;
          font-size: 30px;
          margin-bottom: 0px;
          font-family: 'Pacifico', cursive;
        }
        .line-logo{
          display: none;
        }
      }
    }
    .navbar{
      display: none;
      z-index: 2;
    }
    .menu-content{
      list-style: none;
      float: right;
      padding: 10px 20px 0px 0px;
      li{
        padding: 10px 0px 0px 0px;
        margin: 0px 15px;
        float: left;
        cursor: pointer;
        color: black;
        font-size: 12px;
        font-weight: 700;
        /*font-weight: 300;*/
        text-transform: uppercase;
        font-family: 'Roboto', 'Open Sans';
        position: relative;
      }
    }
  }
}
