// Place all the styles related to the blogpage controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "font-awesome";
@import "bootstrap-sprockets";
@import "bootstrap";


.form-group{
  min-width: 250px !important;
}
//navigate section
.navigate-section{
  margin-top: 10px;
  margin-bottom: 30px;
  position: static;
  width: 100%;
  height: 75px;
  background-color: white;
  z-index: 2;
  .content{
    padding: 0px 10px;
    .category{
      list-style: none;
      margin-bottom: 10px;
      padding-right: 10px;
      p{
        color: #09c;
        background: #fff;
        padding-left: 20px;
        font: 30px VNFQuicksandRegular,sans-serif;
      }
      .active{
        a{
          color: #09c;
        }
      }
      .hover-category{
        a{
          color: #09c;
        }
        p{
          display: block;
        }
      }
      ul {
        // float: right;
        li{
          padding: 15px 40px;
          display: inline-block;
          p{
            display: none;
          }
          .active{
            display: inline-block;
          }
          &:nth-child(1):hover {
            color: #09c;
          }
          &:nth-child(2):hover {
            color: #09c;
          }
          &:nth-child(3):hover {
            color: #09c;
          }
          &:nth-child(4):hover {
            color: #09c;
          }
          // &:nth-child(1):hover ~ li > .blog{
          //   display: block;
          // }
          // &:nth-child(2):hover ~ li > .sharing{
          //   display: block;
          // }
          // &:nth-child(3):hover ~ li > .fontend{
          //   display: block;
          // }
          // &:nth-child(4):hover ~ li > .ror{
          //   display: block;
          // }
          a:hover{
            text-decoration: none;
            color: #09c;
            border: none;
            background-color: white;
          }

        //   .i-1:hover  ~ .blog {
        //    display: block;
        //   }
        //   .i-2:hover  ~ .sharing{
        //    display: block;
        //   }
        //   .i-3:hover  ~ .fontend{
        //    display: block;
        //   }
        //   .i-4:hover  ~ .ror{
        //    display: block;
        //   }
      }
      li:nth-child(5){
        width: 150px;
      }
    }
  }
  .logo{
    float: left;
    margin: 10px;
    padding-left: 10px;
    padding-right: 10px;
    img{
      width: 50px;
      height: 50px;
      float: left;
    }
    .title{
      float: left;
      margin-left: 8px;
      h1{
        text-align: left !important;
        margin-bottom: 5px;
        color: #f7c31b;
        font-size: 20px;
        margin-top: 8px;
        text-transform: uppercase;
      }
      h2{
        margin-top: 0px;
        font-size: 10px;
        text-transform: uppercase;
      }
    }
  }


    .lang{
      a{
        padding: 10px;
      }
      float: right;
      font-size: 36px;
      margin-left: 20px;
      margin-top: 10px;
      display: inline-block;
      color: #c5c5c5;
      font-weight: 700;
    }
    .user{
      float: right;
      display: inline-block;
      margin-top: 10px;
      .dropdown{
        display: inline-block;
      }
      .btn-group{
        border-radius: 1px;
        outline: none;
        ul{
          li{
            padding: 5px;
            i{
              padding-right: 10px;
            }
          }
          .open{
            .dropdown-menu{
              ul{
                min-width: 200px;
                padding: 0 5px;
              }
            }
          }
        }
        .divider{
          padding: 0px !important;
          width: 100%;
        }
        *:focus {
          outline: none;
        }
      }

      .dropdown-menu{
        ul{
          min-width: 250px;
          padding: 0px !important;
          background-color:rgba(255,255,255,.8);
          li{
            padding: 10px !important;
            .bottom.text-center{
              padding: 0px;
              width: 100%;
            }
          }
        }
      }
    }
  }
}
.latestpost-section{
  .content{
    padding: 0px;

    .navigation li {
      width: 100%;
      border-left: 5px solid #666;
      float: left;
      cursor: pointer;
      list-style-type: none;
      margin-left: -20px;
      padding: 10px 50px 10px 15px;
      -webkit-transition: all 0.3s ease-in;
      -moz-transition: all 0.3s ease-in;
      -o-transition: all 0.3s ease-in;
    }

    .navigation li p{
      font-size: 11px;
      color: #999;

      -webkit-transition: all 0.1s ease-in;
      -moz-transition: all 0.1s ease-in;
      -o-transition: all 0.1s ease-in;
    }

    .navigation li:hover {
      background: #333;
      border-left: 5px solid #000;
    }

    .navigation li:hover h3 {
      color: #fff;
    }

    .navigation li:hover p {
      color: #ccc;
      padding-left: 5px;
    }
      .title{
        margin-left: 20px;
        background-color: #484848;
        height: 250px;
        margin-top: 0px;
        padding: 20px 0 0 20px;
        h3{
          font: 40px VNFQuicksandRegular,sans-serif;
          text-align: left;
          color: white;
          border-bottom: 3px solid #5390f5;
          width: 100px;
          margin-top: 0px;
        }
      }
      .secondblog{
        float: left;
        width: 100%;
        padding: 20px 0px 20px 20px;
        position: relative;
        overflow: hidden;
        img{
          border: 1px solid #ebebeb;
          position: relative;
          width: 100%;
          height: 275px;
          z-index: 0;
          &:hover{
            background-color: rgba(0,0,0,0.4);
          }
        }
        a{
          text-decoration: none;
          background-color: rgba(0, 0, 0, 0.5);
          padding: 20px 0px;
          margin: 34px 0px 0 21px;
          position: absolute;
          text-align: center;
          color: wheat;
          top: 200px;
          left: 0;
          width: 93%;
        }
      }
      .blogs{
        float: left;
        padding: 20px;
        width: 25%;
        position: relative;
        overflow: hidden;
        img{
          border: 1px solid #ebebeb;
          position: relative;
          width: 100%;
          height: 300px;
          z-index: 0;
        }
        a{
          text-decoration: none;
          background-color: rgba(0, 0, 0, 0.5);
          padding: 20px 0px;
          margin: 59px 0px 0 21px;
          position: absolute;
          text-align: center;
          color: wheat;
          top: 200px;
          left: 0;
          width: 87%;
        }
      }
      .firstblog{
        padding: 0px 20px 20px 20px;
        img{
          border: 1px solid #ebebeb;
          position: relative;
          width: 100%;
          height: 550px;
        }
        a{
          text-decoration: none;
          background-color:rgba(0,0,0,0.5);
          padding: 20px 0px;
          margin: 289px 35px 0 21px;
          text-align: center;
          color: wheat;
          position: absolute;
          top: 200px;
          left: 0;
          width: 922px;
        }

      }

    }
  }

.footer-section{
  padding: 10px !important;

}
.nav-list {
  padding-right: 15px;
  padding-left: 15px;
  margin-bottom: 0;
}
//User Css
.form-group{

}

.no-padding{
  padding: 0px !important;
}
.no-margin{
  margin: 0px !important;
}
// colors
$color-one: #2c3e50;
$btn-colors: (
  "green": "#2ecc71",
  "blue": "#3498db",
  "purple": "#9b59b6",
  "red": "#e74c3c"
);

// extenders
.animate {
  transition: all 0.3s;
}
.btn {
  border: 1px color #e5e5e5;
  display: inline-block;
  line-height: 35px;
  margin: 8px;
  padding: 0 15px;
  font-size: 15px;
  position: relative;
  opacity: .999;
  border-radius: 3px;
  @extend .animate;
}
.btn-border-rev {
  background-color: white;
  border: 1px solid #e5e5e5;
  color: #a6a6a6;
  &:before,
  &:after {
    content: '';
    border-style: solid;
    position: absolute;
    z-index: 5;
    border-radius: 3px;
    box-sizing: content-box;
    @extend .animate;
  }
  &:before {
    width: 0;
    height: 100%;
    border-width: 1px 0 1px 0;
    top: -1px;
    right: 0;
  }
  &:after {
    width: 100%;
    height: 0;
    border-width: 0 1px 0 1px;
    bottom: 0;
    left: -1px;
    transition-delay: 0.05s;
  }
  &:hover {
    background-color: transparent;
    &:before {
      width: 100%;
    }
    &:after {
      height: 100%;
    }
  }
  @each $name,$hex in $btn-colors {
    &.btn-#{$name} {
      &:before,
      &:after {
        border-color: #{$hex};
      }
      &:hover {
        color: #{$hex};
      }
    }
  }
}
