@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic);
@import url(https://fonts.googleapis.com/css?family=Pacifico);
@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css");

// Place all the styles related to the Home controller here.
// They will automatically be extendd in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  width: 100%;
  height: 100%;
  font-family: 'Roboto', 'Open Sans';
  background: black;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
a:visited{
  text-decoration: none;
}
.body-content{
  background: black;
}
button{
  background-color: transparent;
  border: 1px solid transparent;
  outline: 0px;
}
//Modified Scroll Bar
::-webkit-scrollbar {
    width: 8px;
    background-color: #FCB829;
}
//background scroll
::-webkit-scrollbar-track {
    background-color: #333;
    border-left: 1px solid transparent;
}
//scroll
::-webkit-scrollbar-thumb {
    background-color: #FCB829;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
    background-color: #aaa;
}

//CSS for video loop background
.homepage-hero-module {
    border-right: none;
    border-left: none;
    position: relative;
}
.no-video .video-container video,
.touch .video-container video {
    display: none;
}
.no-video .video-container .poster,
.touch .video-container .poster {
    display: block !important;
}
.video-container {
    position: relative;
    bottom: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background: #000;
}
.video-container .poster img {
    width: 100%;
    bottom: 0;
    position: absolute;
}
.video-container .filter {
    z-index: 100;
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
}
.video-container video {
    position: static;
    z-index: 0;
    bottom: 0;
}
.video-container video.fillWidth {
    width: 100%;
}


.title-section{
  margin-top: 10px;
  font-weight: 800;
  color: #4E565C;
  font-size: 30px;
  text-align: center;
  margin-bottom: 20px;
  span{
    color: #FCB829;
    font-weight: 700;
  }
}
.title-small{
  text-align: center;
  margin-bottom: 0px;
  span{
    font-size: 17px;
    padding: 0px 15px;
    border-left: 1px solid #FCB829;
    border-right: 1px solid #FCB829;
    text-transform: uppercase;
    color: #FCB829;
  }
}
.title-testimonial{
  color: #FCB829;
  text-align: center;
  margin-top: 80px;
  text-transform: uppercase;
  font-weight: 700;
  span{
    font-size: 18px;
  }
}
.testimonial-slogan {
  margin-top: 20px;
  text-align: center;
  p{
    color: #444;
    font-size: 14px;
    letter-spacing: 0.5px;
    line-height: 21px;
    font-weight: 400;
    font-family: 'Roboto', 'Open Sans';
    text-transform: none;
    width: 350px;
    margin: auto;
  }
}

.line-title{
  width: 90px;
  height: 2px;
  background-color: #FCB829;
  margin: 10px auto;
}

.sub-title-section{
  width: 700px;
  margin: 10px auto 30px;
  color: #444;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  font-family: 'Roboto', 'Open Sans';
  line-height: 20px;
}

//Header
//Navbar
.header-section{
  width: 100%;
  padding: 5px 10% 0px 13%;
  z-index: 10;
  position: absolute;
  background-color: #f3c339;
  .navigation{
    .logo{
      padding-left: 20px;
      float: left;
      width: 10%;
      .image-logo{
        width: 50px;
        height: 55px;
        float: left;
        background: transparent;
        img{
          width: 100%;
          height: 100%;
        }
      }
      .title-logo{
        height: 55px;
        float: left;
        margin-top: 0px;
        .title-main{
          margin-top: 8px;
          padding: 0px 0px 10px 5px;
          /*color: #FCB829;*/
          color: black;
          text-transform: none;
          font-size: 30px;
          margin-bottom: 0px;
          font-family: 'Pacifico', cursive;
        }
        .line-logo{
          display: none;
        }
      }
    }
    .navbar{
      display: none;
      z-index: 2;
    }
    .menu-content{
      list-style: none;
      float: right;
      padding: 10px 20px 0px 0px;
      li{
        padding: 10px 15px;
        float: left;
        cursor: pointer;
        color: black;
        font-size: 12px;
        font-weight: 700;
        /*font-weight: 300;*/
        text-transform: uppercase;
        font-family: 'Roboto', 'Open Sans';
        &:hover, &.active{
          text-decoration: underline;
        }
      }
    }
  }
}

.header-fixed{
  background-color: white;
  box-shadow: 0px 2px 4px #d7d7d7;
  padding: 0px 10% 0px 13%;
  .navigation{
    .logo{
      padding: 5px 0px 0px 20px;
      float: left;
      width: 30%;
      margin-bottom: 5px;
      .image-logo{
        width: 50px;
        height: 55px;
      }

    }
    .menu-content{
      padding-top: 15px;
      li{
        color: #444;
        font-size: 12px;
        font-weight: 400;
        &.active{
          text-decoration: underline;
          text-decoration-color: #FCB829;
          color: #FCB829;
        }
        &:hover{
          color: #FCB829;
          text-decoration: none;
        };
      }
    }
  }
}
.row{
  margin-right: 0px;
}
.container-fluid {
  margin: 0;
  padding: 0;
  .inner-container {
    width: 1024px;
    margin: 0 auto;
  }
}
//Slider
.slider-section{
  height: 760px;
  width: 100%;
  .homepage-hero-module{
    height: 100% !important;
    background-image: url(asset_path('background-home.png'));
    background-size: cover;
  }
}
.slider-content{
  margin-top: 290px;
  margin-bottom: 0px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding: 0px;
  text-align: center;
  position: absolute;
  z-index: 1;
  .slider-title{
      margin-top: 35px;
      font-size: 18px;
      font-weight: normal;
      color: white;
      line-height: 35px;
      text-transform: uppercase;
      transform: scale(0);
    span{
      font-size: 18px;
      font-weight: normal;
      color: white;
      padding: 0px 10%;
      /*font-weight: 400;*/
      font-size: 30px;
      font-weight: bold;
      color: #f3c339;

    }
  }
  button.btn-details{
    background-color: transparent;
    color: white;
    padding: 8px 20px;
    margin-top: 35px;
    opacity: 0;
    transition: 0.2s;
    border-radius: 17px;
    border: 2px solid white;
    font-size: 11px;
    font-weight: 500;
    &:hover{
      background-color: #FCB829;
      box-shadow: 0px 1px 2px transparent;
    }
    i{
      margin-right: 10px;
      font-size: 13px;
      margin-top: 2px;
    }
  }
}

@keyframes slider_content {
  0% {transform: scale(0);}
  50% {transform: scale(1.3);}
  100% {transform: scale(1);}
}

//Service
.service-section {
  padding: 80px 60px;
  background: white;
  .sub-title-section{
    margin-bottom: 0px;
    width: 350px;
    /*color: #444;*/
    font-weight: 400;
    color: #444;
    font-size: 15px;
    font-weight: 300%;
    line-height: 20px;
  }
  .title-small{
    span{
      border-left: 1px solid #FCB829;
      border-right: 1px solid #FCB829;
      color: #FCB829;
    }
  }
  .line-title{
    background-color: #444;
  }
  .title-section{
    color: #222;
    font-size: 18px;
    span{
      color: #FCB829;
    }
  }
  .service-content{
    position: relative;
    padding-bottom: 0px;
    margin-top: 100px;
  }
  .service-element:hover{
    .title-service{
      color: #FCB829;
    }
    .image-service{
      border: 1px solid #fdd47e;
      box-shadow: 0px 5px 2px #fdd47e;
    }
  }
  .service-element{
    width: 18%;
    display: inline-block;
    //padding: 0px 10px;
    text-align: center;
    margin: 0px 1%;
    opacity: 0;
// DON'T DELETE
// USED FOR ANIMATION
//     &:nth-child(1){
//       margin-left: -50px;
//     }
//     &:nth-child(2){
//       margin-top: 25px;
//     }
//     &:nth-child(3){
// /*      position: absolute;
//       right: 0;*/
//       margin-top: 50px;
//     }
//     &:nth-child(4){
//       margin-top: 25px;
//       margin-left: 100px;
//     }
//     &:nth-child(5){
//       margin-right: -50px;
//       position: absolute;
//       right: 0;
//     }

    .image-service{
      margin: 10px auto;
      width: 130px;
      height: 130px;
      background: white;
      border: 1px solid #e6e6e6;
      border-radius: 50%;
      box-shadow: 0px 5px 2px #bfbfbf;
      img {
        margin-top: 25%;
        width: 60px;
        height: 60px;
      }
    }
    .title-service{
/*      color: #FCB829;
*/
      color: #444;
      text-transform: uppercase;
      margin-top: 30px;
      font-size: 12px;
      font-weight: 600;
    }
    .content-service{
      /*color: #444;*/
      color: black;
      text-align: center;
      margin-top: 10px;
      font-size: 12px;
      font-weight: 400;
      letter-spacing: 0.8px;
      font-family: 'Roboto', 'Open Sans';
    }
  }
}
/* portfolio details */
.portfolio-details{
  width: 100%;
  background-color: white;
  .navigation-bar{
    width: 25%;
    margin: auto;
    ul{
        padding: 0px !important;
        margin: 0px !important;
    }
    .nav-element:hover {
        text-decoration: none;
        color: #e6e6e6;
        li{color: #8a8a8a;}

    }
    .nav-element{
      text-align: center;
      text-align: center;
      width: 25%;
      margin-right: 4.16%;
      margin-left: 4.16%;
      display: inline-block;
      li{
        margin-top: 25px;
        margin-bottom: 30px;
        padding: 5px 0px 5px 0px;
        list-style: none;
        display: inline-block;
        color: black;
        font-size: 14px;
        font-weight: 500;
        text-decoration: none;
        text-transform: uppercase;
      }
      li.active{
        border-bottom: 4px solid #FCB829;
      }
      li.deactive{
        border: none;
      }
    }
  }
  /*portfolio-content*/
  .portfolio-content{
    width: 100%;
    height: 350px;
    .carousel-inner{
      width: 100%;
      height: 350px;
      padding: 0px;
    }
  .carousel-control, .carousel-control:hover{
    text-decoration: none;
    background: transparent;
    width: 10%;
  }
  .carousel-control.right{
    background: transparent;
    background-image: none;
  }
  .carousel-control.left{
    background: transparent;
    background-image: none;
  }
    .item{
      padding: 0px;
      height: 350px;
    }
    .portfolio-group{
      width: 100%;
      height: 100%;
      border-top: 1px solid #e6e6e6;
      border-bottom: 1px splid #e6e6e6;
      .portfolio-element{
        width: 25%;
        height: 100%;

        display: inline-block;
        position: relative;
        z-index: 1;
        /*background-image: url(asset_path('fawm-web.png'));*/
        .icon1{
          position: absolute;
          top: 280px;
          left: 40px;
          z-index: 2;
          display: none;
          img{
            height:50px;
            width: 50px;
            opacity: 1;
          }
        }
        .icon2{
          position: absolute;
          top: 280px;
          left: 140px;
          z-index: 2;
          display: none;
          img{
            height: 50px;
            width: 50px;
            opacity: 1;
          }
        }
        .icon3{
          position: absolute;
          top: 280px;
          left: 240px;
          z-index: 2;
          display: none;
          img{
            height: 50px;
            width: 50px;
            opacity: 1;
          }
        }
        .introduction{
          transition: opacity 2s ease-in;
          display: none;
          background: transparent;
          /*opacity: 0.3;*/
          padding: 15px 10px 15px 10px;
          color: white;
          text-align: center;
          height: 100%;
          z-index: 2;
          position: absolute;
          .title{
            margin-top: 70px;
            font-weight: 600;
            color: #fcbf3e;
            margin-bottom: 15px;
            font-size: 20px;
            text-transform: uppercase;
          }
          .description{
            p{
              font-size: 15px;
              font-weight: 500;
              width: 85%;
              margin: auto;
              font-family: 'Roboto', 'Open Sans';
            }
          }
        }
      }
      .portfolio-element:hover {
        .introduction{
          animation: fadein 0.5s;
          position: absolute;
          z-index: 2;
          display: block;
          background: rgba(0, 0, 0, 0.8);
          .title{
            opacity: 1;
          }
          .description{
            opacity: 1;
          }
        }
        .icon1, .icon2, .icon3 {
          display: block;
          animation: fadein 1.5s;
        }
      }
    }
  }
}

.portfolio-section{
  background: #f7f7f7;
  padding: 0px 0px 0px;
  .title-portfolio{
    height: 225px;
    background-image: url(asset_path('portfolio.png'));
    background-position: center;
    background-size: 100%;
    margin-top: 0px;
    padding: 20px 0px;
    position: relative;
    .title-small{
      margin-top: 45px;
      span{
        border-left: none;
        border-right: none;
        font-weight: 700;
        font-size: 18px;
      }
    }
    .sub-title-section{
      padding-top: 10px;
      color: white;
      width: 30%;
      text-align: center;
      margin: auto;
      line-height: 20px;
    }
    .caret{
      position: absolute;
      border-top: 15px solid white;
      border-right: 12px solid transparent;
      border-left: 12px solid transparent;
      bottom: -15px;
      left: 50%;
      display: none;
    }
  }
  .control{
    margin: 20px auto;
    width: 900px;
    text-align: center;
    .project-page{
      width: 100%;
      margin-left: 5px;
      height: 70px;
      padding: 10px 60px 0px;
      .project-element{
        width: 14.28%;
        text-align: center;
        float: left;
        cursor: pointer;
        opacity: 0;
        margin-top: 30px;
        i{
          font-size: 35px;
          color: #444;
        }
        img{
          width: 35px;
          height: 35px;
        }
        &.active{
          color: #FCB829;

        }
        &:nth-child(n+8){
          display: none;
        }
      }
    }
    .btn-more-project{
      color: white;
      background-color: black;
      padding: 5px 10px;
      border-radius: 2px;
      margin-top: 40px;
    }
  }
}

.btn-customs{
  text-align: center;
  display: block;
  border: 3px double #a1a1a1;
  border-radius: 50%;
  background: transparent;
  text-align: center;
  margin: auto;
  margin-top: 110px;
  height: 40px;
  width: 40px;
  color: white;
  font-weight: 700;
  font-size: 25px;
  transition: 1s;
  opacity: 0;
  transition: 0.2s;
  &:hover{
    background-color: #FCB829;
  }
}


.btn-section-cirlce
{
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}
#detail-project{
  width: 100%;
  height: 100%;
  text-align: center;
  position: fixed;
  top: 0;
  z-index: 20;
  display: none;
  .image-large {
    position: relative;
    z-index: 1;
    height: 100%;
    width: 500px;
    margin: 0px auto;
    img{
      width: 100%;
      display: none;
      position: absolute;
    }
  }
  #bg-project{
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.9;
    background-color: black;
  }
}
.introduce-section{
  background: #f7f7f7                                                     ;
  padding: 60px 140px;
  h1{
    font-weight: 400;
    font-style: italic;
    color: black;
    font-size: 27px;
    letter-spacing: 1px;
    text-align: center;
    line-height: 40px;
    margin-top: 0px;
    font-family: 'Roboto', 'Open Sans';
    strong{
      text-transform: uppercase;
    }
    &.title{
      text-transform: uppercase;
      font-weight: 600;
    }
  }
  .line{
    width: 150px;
    height: 4px;
    background: black;
    margin: 30px auto 0px;
  }
}
/*
.about-section{
  padding: 50px 20px 60px;
  background: #ffffff;
  position: relative;
  .title-section{
    span{
      color: #FCB829;
      font-weight: 700;
      font-size: 18px;
      margin-top: 40px;
      margin-bottom: 30px;
    }
  }
  .about-element{
    width: 30%;
    padding: 0px 50px 0px 40px;
    float: left;
    h4{
      font-size: 29px;
      color: #333;
      margin-top: 0px;
      margin-bottom: 0px;
    }
    p{
      margin-top: 30px;
      color: #444;
      font-size: 13px;
      letter-spacing: 0.5px;
      line-height: 21px;
      font-weight: 300;
      font-family: "Roboto";
    }
  }
  .rule-content{
    padding: 20px 20px 0px 40px;
    width: 30%;
    float: left;
    border-left: 1px solid #FCB829;
    .rule-element{
      margin-bottom: 5px;
      width: 100%;
      img{
        margin-right: 20px;
        width: 50px;
        float: left;
      }
      .rule-info{
        overflow: hidden;
        .title-rule{
          color: #FCB829;
          font-size: 20px;
          font-weight: 600;
          margin-top: 0px;
        }
        p{
          font-family: "Roboto";
          font-weight: 300;
          color: #444;
          margin-top: 5px;
        }
      }
    }
  }
  .image-about{
    width: 40%;
    padding: 0px 40px;
    float: right;
    img{
      width: 100%;
      height: 330px;
    }
  }
}
*/

.about-section{
  padding: 50px 20px 115px;
  background: #ffffff;
  position: relative;
  .title-section{
    margin-bottom: 0px;
    margin-top: 30px;
    span{
      color: #FCB829;
      font-weight: 700;
      font-size: 18px;
    }
  }
  .about-info{
    width: 75%;
    margin: auto;
    .introduce-element{
      width: 33.3%;
      margin: auto;
      text-align: center;
      margin-bottom: 50px;
      p{
        color: #444;
        font-size: 14px;
        letter-spacing: 0.5px;
        line-height: 21px;
        font-weight: 400;
        font-family: 'Roboto', 'Open Sans';
      }
    }

    .about-element{
      width: 33.3%;
      padding: 0px 20px;
      float: left;
      h4{
        font-size: 14px;
        font-weight: 600;
        color: black;
        margin-top: 0px;
        margin-bottom: 0px;
      }
      .line{
        width: 40px;
        height: 3px;
        background: #FCB829;
        margin-top: 7px;
      }
      p{
        margin-top: 30px;
        color: #444;
        font-size: 13px;
        letter-spacing: 0.5px;
        line-height: 20px;
        font-weight: 300;
        font-family: 'Roboto', 'Open Sans';
      }
    }
    .rule-content{
      padding: 0px 20px 0px 20px;
      width: 33.3%;
      float: left;
      border-left: 1px solid #FCB829;
      border-right: 1px solid #FCB829;
      h4{
        font-size: 15px;
        font-weight: 600;
        color: black;
        margin-top: 0px;
        margin-bottom: 0px;
      }
      .line{
        width: 40px;
        height: 3px;
        background: #FCB829;
        margin-top: 7px;
        margin-bottom: 32px;
      }
      .rule-element{
        margin-bottom: 5px;
        width: 100%;
        img{
          margin-right: 20px;
          width: 50px;
          float: left;
        }
        .rule-info{
          overflow: hidden;
          .title-rule{
            color: #FCB829;
            font-size: 15px;
            font-weight: 600;
            margin-top: 0px;
            margin-bottom: 5px;
          }
          p{
            font-family: 'Roboto', 'Open Sans';
            font-weight: 300;
            color: #444;
            margin-top: 0px;
            font-size: 13px;
            line-height: 20px;
          }
        }
      }
    }
    .mission-content{
      width: 33.3%;
      padding: 0px 20px;
      float: right;
      h4{
      font-size: 14px;
      font-weight: 600;
      color: black;
      margin-top: 0px;
      margin-bottom: 0px;
      }
      .line{
        width: 40px;
        height: 3px;
        background: #FCB829;
        margin-top: 7px;
      }
      p{
        margin-top: 30px;
        color: #444;
        font-size: 13px;
        letter-spacing: 0.5px;
        line-height: 20px;
        font-weight: 300;
        font-family: 'Roboto', 'Open Sans';
      }
    }
  }
}

.about-banner{
  padding: 0px;
  width: 100%;
  margin: auto;
  .banner-bottom{
  width: 100%;
  margin: auto;
  height: 180px;
  background-image: url(asset_path('about-banner.png'));
  background-position: center;
  background-size: 100%;
  position: relative;
  text-align: center;
  font-family: 'Roboto', 'Open Sans';
    .banner-group{
      width: 70%;
      margin: auto;
      .banner-item{
      width: 25%;
      text-align: center;
      color: white;
      padding-top: 25px;
      padding-bottom: 30px;
      display: inline-block;
      font-style: 'Open Sans';
        .item-icon{
          height: 35px;
          margin: auto;
          margin-bottom: 10px;
          margin-top: 10px;
          img{
            width: 35px;
            height: 35px;
          }
        }
        .item-number{
          font-size: 34px;
          font-weight: bold;
          margin-bottom: 5px;
        }
        .item-title{
          font-size: 14px;
          margin-top: 0px;
          margin-bottom: 30px;
        }
      }
    }
  }
}
.feedback-section{
  background: #f7f7f7;
  padding: 0px 40px 40px;
  width: 100%;
  .feedback-group{
    width: 80%;
    margin: auto;
    .feedback.element{
      vertical-align: text-top;
      position: relative;
      margin-top: 50px;
      margin-right: 1.66%;
      margin-left: 1.67%;
      margin-bottom: 10px;
      display: inline-block;
      width: 30%;
      .image-customer{
        margin-top: 5px;
        margin-right: 8px;
        float: left;
        width: 90px;
        img{
          width: 80px;
          height: 80px;
          margin-top: -5px;
          margin-bottom: 10px;
          border-radius: 50%;
          border: 3px solid #bfbfbf;
        }
      }
      .info-customer{
        .feedback-content{
          padding: 10px 10px 10px 10px;
          overflow: hidden;
          background: #FCB829;
          border-radius: 1px;
          margin: 0px;
          font-weight: 500;
          min-height: 120px;
          p{
            margin-right: 0px;
            text-align: left;
            color: white;
            font-size: 13px;
            overflow: hidden;
            font-family: 'Roboto', 'Open Sans';
            font-style: italic;
            a{
              color:  #296dfc;
            }
            a:hover{
              color:  #296dfc;
              background: transparent;
              text-decoration: none;
            }
          }
        }
      }
    }
  }
}

.item{
  width: 100%;
  margin: auto;
  padding: 10px 5px;
  text-align: center;
  text-transform: none;
}
.name-customer, .company-customer{
  margin-top: 0px;
  margin-bottom: 6px;
  color: #FCB829;
  text-align: left;
  font-size: 13px;
  font-weight: 700;
}
.company-customer{
  margin-top: 0px;
  margin-bottom: 8px;
  color: black;
  font-style: italic;
  font-weight: 400;
  font-family: 'Roboto', 'Open Sans';
}

.team-section{

  width: 100%;
  background: #fff;
  padding-top: 80px;
  padding-left: 0px !important;
  padding-right: 0px !important;

  button{
    display: block;
    width: 10%;
    margin-left: 45%;
    margin-left: 45%;
    background-color: transparent;
    color: black;
    padding: 5px 5px;
    margin-top: 25px;
    margin-bottom: 100px;
    transition: 0.2s;
    border-radius: 17px;
    border: 1px solid black;
    font-size: 12px;
    font-weight: 500;
    &:hover{
      background-color: #FCB829;
      box-shadow: 0px 1px 2px transparent;
    }
    i{
      margin-right: 10px;
      font-size: 13px;
      margin-top: 2px;
    }
  }
  #default{

  }
  #show-more-team{
    display: block;
  }
  #show-less-team{
    display: none;
  }
  #hidden-team{
    display: none;
  }

  .team-title{
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    color: #FCB829;
    margin-bottom: 10px;
  }
  .team-slogan{
    text-align: center;
    margin-bottom: 60px;
    p{
      width: 30%;
      margin: auto;
      color: #444;
      font-size: 14px;
      letter-spacing: 0.5px;
      line-height: 20px;
      font-weight: 400;
      font-family: 'Roboto', 'Open Sans';
    }
  }
  .team-content{
    width: 70%;
    margin: auto;
    margin-top: 70px;
    .team-element{
      width: 22%;
      margin-left: 1.5%;
      margin-right: 1.5%;
      margin-top: 5px;
      margin-bottom: 5px;
      text-align: center;
      display: inline-block;
      .avatar{
        position: relative;
        z-index: 1;
        top: 0;
        left: 0;
        img{
          width: 100%;
          height: auto;
          /*border: 2px solid #e6e6e6;*/
        }
        .icon1{
          position: absolute;
          top: 25px;
          z-index: 2;
          display: none;
          img{
            height: 40px;
            width: 40px;
            transition: opacity 2s ease-in;
          }
        }
        .icon2{
          position: absolute;
          top: 80px;
          z-index: 2;
          display: none;
          img{
            height: 40px;
            width: 40px;
          }
        }
        .icon3{
          position: absolute;
          top: 135px;
          z-index: 2;
          display: none;
          img{
            height: 40px;
            width: 40px;
          }
        }
        .icon1:hover, .icon2:hover, .icon3:hover {
          opacity: 0.7;
        }
      }
      .avatar:hover{
        .icon1, .icon2, .icon3{
          display: block;
          animation: fadein 1s;
        }
      }

      .name-member {
        font-size: 14px;
        font-weight: 600;
        color: #333;
      }
      .role-member{
        font-size: 12px;
        color: #FCB829;
      }
    }
  }

  .team-banner{
    background-color: #FCB829;
    width: 100%;
    color: white;
    padding: 0px 0px 10px 0px;
    .banner-content{
      text-align: center;
      .logo{
        display: block;
        text-align: center;
        width: 10%;
        margin: auto;
        margin-bottom: 15px;
        padding: 0px;
        img{
          height: 70px;
          width: auto;
        }
      }
      .title{
        display: block;
        font-size: 17px;
        font-weight: 600;
        margin-bottom: 10px;
        margin-top: 15px;
      }
      .slogan{
        text-align: center;
        margin-bottom: 15px;
        p{
          margin: auto;
          width: 30%;
          color: white;
          font-size: 13px;
          letter-spacing: 0.5px;
          line-height: 21px;
          font-weight: 400;
          font-family: 'Roboto', 'Open Sans';
        }
      }
      button{
        padding: 12px 8px;
        color: white;
        border: 2px solid white;
        width: 13%;
        margin: auto;
        text-align: center;
        font-size: 11px;
        border-radius: 18px;
        background-color: transparent;
        margin-bottom: 20px;
      }
      button:hover{
        color: black;
        border: 2px solid black;
      }
    }
  }
}
/* @media screen and (min-width: 1280px){
  .team-section{
    .team-element{
      width: 305px;
      margin-left: 30px;
    }
  }
} */
.partner-section{
  padding: 40px;
  padding-top: 35px;
  background: #f7f7f7;
  position: relative;
  padding-bottom: 65px;
  .title-clients{
    margin-bottom: 15px;
    margin-top: 30px;
    text-align: center;
    span{
      color: #FCB829;
      font-weight: 700;
      font-size: 18px;
    }
  }

  .carousel-control, .carousel-control:hover{
    text-decoration: none;
    background: transparent;
    opacity: 1;
/*    width: 10%;*/
  }
  .carousel-control.right{
    background: transparent;
    background-image: none;
    opacity: 1;
  }
  .carousel-control.left{
    background: transparent;
    background-image: none;
    opacity: 1;
  }

  .introduce-clients{
    width: 35%;
    margin: auto;
    text-align: center;
    margin-bottom: 50px;
    p{
      color: #444;
      font-size: 15px;
      letter-spacing: 0.5px;
      line-height: 20px;
      font-weight: 400;
      font-family: 'Roboto', 'Open Sans';
    }
  }
  .partner-content{
    width: 100%;
    margin: auto;
    .partner-element{
      width: 25%;
      float: left;
      text-align: center;
      height: 70px;
      padding-left: 10px;
      &:first-of-type{
        margin-left: 0px;
      }
      &:nth-of-type(4n+1){
        margin-left: 0px;
      }
      img{
        width: 90%;
        height: 100%;
      }
      a:hover{
        background-color: transparent;
      }
    }
    .carousel-inner{
      width: 70%;
      margin: auto;
    }

    .partner-small{
      img{
        height: 60%;
        margin-top: 8%;
      }
    }
    &.container-fluid{
      padding-left: 80px;
      padding-right: 80px;
    }
    .btn-group{
      position: absolute;
      top: 216px;
      left: 0;
      width: 100%;
      button{
        font-size: 20px;
        color: #888;
      }
      .btn-left{
        float: left;
        margin-left: 20px;
      }
      .btn-right{
        float: right;
        margin-right: 20px;
      }
    }
  }
}
/* Get in touch */
.touch-section{
  width: 100%;
  background: white;
  padding: 50px 0px;
  .touch-content{
    width: 60%;
    margin: auto;
    text-align: center;
    .touch-title{
      color: #FCB829;
      font-weight: 700;
      font-size: 18px;
      margin-bottom: 15px;
      margin-top: 30px;
    }
    .touch-introduce{
      margin-top: 50px;
      margin-bottom: 50px;
      font-family: 'Roboto', 'Open Sans';
      width: 40%;
      text-align: center;
      margin: auto;
      p{
        color: #444;
        font-size: 14px;
        line-height: 20px;
        font-weight: 400;
      }
    }
    .touch-form{
      margin-top: 50px;
      .input-1, .input-2 {
        width: 48%;
        margin-left: 1%;
        margin-right: 1%;
        display: inline-block;
        margin-bot: 20px;
        input{
        width: 100%;
        padding: 10px 5px 5px 5px;
        color: #6a6a6a;
        font-size: 12px;
        }
      }
      .input-3{
        margin-top: 60px;
        margin-bottom: 20px;
        margin-left: 1%;
        margin-top: 1%;
        width: 98%;
        color: #6a6a6a;
        textarea{width: 100%; margin-bottom: 0px; margin-top: 15px; padding: 10px 5px;}
      }
      .submit-button{
        margin-top: 10px;
        padding: 5px 10px 5px 10px;
        margin-bottom: 30px;
        input{
          background: white;
          color: black;
          font-weight: 700;
          font-size: 10px;
          border: 1px solid black;
          padding: 5px 15px 5px 15px;
        }
      }
    }
  }
}

/* */
/*Footer_new*/

  .footer-upper{
    width: 100%;
    height: auto;
    .footer-part{
      width: 100%;
      .footer-banner{
        position: relative;
        width: 100%;
        background-image: url(asset_path('ending-bg.png'));
        background-position: center;
        .footer-group{
          width: 30%;
          margin: auto;
          .footer-item{
            background: transparent;
            display: inline-block;
            padding-top: 45px;
            padding-bottom: 45px;
            width: 25%;
            .icon-frame{
              height: 55px;
              width: 55px;
              border-radius: 50%;
              border: 2px solid white;
              text-align: center;
              margin: auto;
              .helper{
                height: 100%;
                img{
                  margin-top: 16px;
                  height: 40%;
                  width: auto;
                }
                a:hover{background: transparent;}
              }
            }
            .icon-frame:hover{
              background: #FCB829
            }
          }
        }
      }
    }
  }

.footer-main{
  background-color: white;
  font-family: "Roboto";
  position: relative;
  .copyright{
    margin-top: 35px;
    padding-bottom: 20px;
    text-align: center;
    color: #a1a1a1;
    font-weight: 500;
    p{font-size: 12px;}
  }
  .footer-content{
    width: 70%;
    background: white;
    margin: auto;
    .footer-col{
      vertical-align: top;
      text-align: left;
      background-color: white;
      width: 20%;
      margin-left: 2.5%;
      margin-right: 2.5%;
      display: inline-block;
      margin-top: 90px;
      margin-bottom: 40px;
      color: #444;
      .item-title{
        span{
          color: #444;
          font-weight: 700;
          font-size: 13px;
          text-align: left;
        }
      }
      .line{
        width: 40px;
        height: 3px;
        background-color: #FCB829;
        margin: 0px 0px 30px 0px;
      }
      .item-content{
        display: block;
        margin-top: 10px;

          .twitter-tweet{
            width: 170px !important;
            max-width: 200px !important;
            width: 190px !important;
            min-width: 150px !important;
          }
         }
        .position{
          font-size: 12px;
          font-weight: bold;
          margin-top: 5px;
          margin-bottom: 10px;
        }
        p{
          font-size: 12px;
        }
        .phone{
          display: block;
          font-size: 12px;
          margin-bottom: 10px;
          img{
            margin-right: 13px;
            height: 15px;
            width: auto;
          }
        }
        .email
        {
          display: block;
          font-size: 12px;
          img{
            margin-right: 12px;
            height: 15px;
            width: auto;
          }
        }
        iframe{
          height: 50%;
          width: 100%;
        }
        .subs-input{
          input{background-color: #e6e6e6; border-radius: 5px;}
        }
        .subs-submit{
          input{background-color: #FCB829; color: white; font-size: 11px; border: none;width: 100px; height: 25px;}
        }
      }
    }
  }



/* */
.text-footer{
  color: #a5a5a5;
  padding-left: 20px;
  font-weight: 400;
  padding-top: 40px;
  clear: both;
}

.carousel-inner{

}


ol.carousel-indicators {
  bottom: 0;
  margin: 45px;
  left: 0;
  right: 0;
  width: auto;
  position: relative;
}

ol.carousel-indicators li,
ol.carousel-indicators li.active {
  background: #444;
}

ol.carousel-indicators li.active {
  background: #FCB829;
}


#footer.footer-section{
  padding: 0px !important;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}


#triangle-down {
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 12px solid white;
  width: 0%;
  margin: auto;
  margin-bottom: 5px;
}

#giveasia, #giveasia-w{
  background-image: url(asset_path('details-give.png'));
  background-size: cover;
}

#idea-burn, #idea-burn-w{
  background-image: url(asset_path('details-ideaburn.jpg'));
  background-size: cover;
}

#techlist, #techlist-w{
  background-image: url(asset_path('techlist.jpg'));
  background-position: center;
}

#weath, #weath-w{
  background-image: url(asset_path('details-weath.png'));
  background-size: cover;
}

#blix, #blix-w{
  background-image: url(asset_path('web-blix.jpg'));
  background-size: cover;
}

#corpzap{
  background-image: url(asset_path('web-corzp.jpg'));
  background-size: cover;
}

#student{
  background-image: url(asset_path('web-StudentLifeCare.png'));
  background-size: cover;
}

#luxenomad{
  background-image: url(asset_path('web-luxenomad.jpg'));
  background-size: cover;
}

#luxufy{
  background-image: url(asset_path('web-luxyfy.png'));
  background-size: cover;
}

#gllu{
  background-image: url(asset_path('mobile-GLLU.png'));
  background-size: cover;
  background-position: -25px 0;
}

#mywork{
  background-image: url(asset_path('mobile-mywork.png'));
  background-size: cover;
  background-position: 0px -150px;
}

#app2rist{
  background-image: url(asset_path('mobile-2ristApp.png'));
  background-size: cover;
}

#nattrart{
  background-image: url(asset_path('mobile-nattrart.png'));
  background-size: cover;
  background-position: 0px -150px;
}

#allstart{
  background-image: url(asset_path('details-allstartup.png'));
  background-size: cover;
  background-position: center;
}
#view360{
  background-image: url(asset_path('details-360.png'));
  background-size: cover;
}
#a21{
  background-image: url(asset_path('details-A21.png'));
  background-size: cover;
}
#dbs{
  background-image: url(asset_path('details-dbs.jpeg'));
  background-size: cover;
}

/*web*/
#corpzap-w{
  background-image: url(asset_path('web-corzp.jpg'));
  background-size: cover;
}

#student-w{
  background-image: url(asset_path('web-StudentLifeCare.png'));
  background-size: cover;
}

#luxenomad-w{
  background-image: url(asset_path('web-luxenomad.jpg'));
  background-size: cover;
}

#luxufy-w{
  background-image: url(asset_path('web-luxyfy.png'));
  background-size: cover;
}


/*mobile*/

#mywork-m{
  background-image: url(asset_path('mobile-mywork.png'));
  background-size: cover;
  background-position: 0px -150px;
}

#app2rist-m{
  background-image: url(asset_path('mobile-2ristApp.png'));
  background-size: cover;
}

#nattrart-m{
  background-image: url(asset_path('mobile-nattrart.png'));
  background-size: cover;
  background-position: 0px -150px;

}

#booqed-m{
  background-image: url(asset_path('mobile-booqed.png'));
  background-size: cover;
}

#gllu-m{
  background-image: url(asset_path('mobile-GLLU.png'));
  background-size: cover;
  background-position: -25px 0;
}

/* */
#booqed{
  background-image: url(asset_path('mobile-booqed.png'));
  background-size: cover;
}

#artfolo, #artfolo-w{
  background-image: url(asset_path('details-artfolo.jpg'));
  background-size: cover;
}

#built, #built-m{
  background-image: url(asset_path('mobile-built.jpg'));
  background-size: cover;

}

#cpd, #cpd-w{
  background-image: url(asset_path('details-cpd.jpg'));
  background-size: cover;
}

#stage, #stage-w{
  background-image: url(asset_path('details-stage.png'));
  background-size: cover;
}

#fitday, #fitday-m{
  background-image: url(asset_path('details-fit1.jpg'));
  background-size: cover;
  background-position: -40px 0;
}

#flat, #flat-w{
  background-image: url(asset_path('details-flat2.png'));
  background-size: cover;
}

#scope, #scope-m{
  background-image: url(asset_path('details-scope1.png'));
  background-size: cover;
  background-position: -175px 0;
}

#iadoa, #iadoa-w{
  background-image: url(asset_path('details-iadoa.png'));
  background-size: cover;
}

#serumi, #serumi-w{
  background-image: url(asset_path('details-serumi.jpg'));
  background-size: cover;
}

#study, #study-w{
  background-image: url(asset_path('details-study.png'));
  background-size: cover;
}

#toned, #toned-w{
  background-image: url(asset_path('details-toned.png'));
  background-size: cover;
}

#tyk, #tyk-w{
  background-image: url(asset_path('details-tyk.png'));
  background-size: cover;
}

#war, #war-w{
  background-image: url(asset_path('details-war.png'));
  background-size: cover;
}

#natt, #natt-w{
  background-image: url(asset_path('details-narr.png'));
  background-size: cover;
  background-position: -175px 0;
}




.tech-section{
  width: 100%;
  text-align: center;
  background-image: url(asset_path('portfolio.png'));
  background-position: bottom;
  background-size: cover;
  #triangle-down{
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 10px solid #f7f7f7;
    width: 0%;
    margin: auto;
    margin-bottom: 20px;
    display: inline-block;
  }
  #triangle-up{
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 10px solid white;
    width: 0%;
    margin: auto;
  }
  .tech-title{
    font-weight: 700;
    font-size: 18px;
    color: #FCB829;
  }
  .tech-introduce{
    margin-bottom: 5px;
  }
  .tech-group{
    margin-top: 10px;
    width: 70%;
    margin: auto;
    .tech-elements{
      width: 16%;
      display: inline-block;
      margin-left: 2%;
      margin-right: 2%;
      margin-bottom: 15px;
      img{
      }
    }
  }
}

//=================
// Responsive style
//=================

// Medium devices
@media screen and (max-width: 1200px){
  .header-section{
    .navigation{
      position: static;
      .logo{
        float: left;
        width: auto;
      }
      .navbar{
        display: block;
        width: 30px;
        float: right;
        margin: 0px;
        margin-top: 10px;
        cursor: pointer;
        vertical-align: middle;
        img{
          width: 100%;
          height: 100%;
          margin-top: 0px;
        }
      }
      .menu-content{
        padding: 0px;
        margin-left: 0px;
        width: 100%;
        float: left;
        display: none;
        position: fixed;
        top: 0px;
        left: 0px;
        height: 100%;
        li{
          float: none;
          padding: 10px 0px;
          position: relative;
          z-index: 1;
          font-size: 22px;
          text-transform: uppercase;
          margin-bottom: 15px;
          text-align: center;
          &.bg-menu{
            width: 100%;
            height: 100%;
            position: absolute;
            z-index: 0;
            background: #FCB829;
          }
          &.active, &:hover{
            color: black;
            font-weight: 600;
            font-size: 25px;
          }
          &:nth-child(2){
            margin-top: 140px;
          }
        }
      }
    }
  }
}

// Small devices
@media screen and (max-width: 992px) {
  .slider-section{
    height: 760px;
  }
  .slider-content{
    margin-top: 200px;
    .slider-title{
      font-size: 18px;
   }
  }
  .service-content{
    .service-element{
      .image-service{
        width: 120px;
        height: 120px;
      }
      h5.title-service {
        font-size: 10px;
      }
    }
  }
  .service-section {
    .content{
      .service-row{
        width: 90%;
        margin-left: 5%;
        .service-right{
          float: left;
          margin-left: 20px;
          margin-right: 0px;
        }
        .text-service-right{
          h4, p{
            text-align: left;
            padding-left: 200px;
            padding-right: 20px;
          }
        }
      }
      .service-row:nth-child(1),.service-row:nth-child(2),.service-row:nth-child(3),.service-row:nth-child(4){
       .service-img{
          top: 0px;
          left: 0px;
        }
      }
    }
  }
  .portfolio-section{
    .control{
      margin: 30px auto;
      width: 600px;
      text-align: center;
      .project-page{
        width: 100%;
        margin-left: 5px;
        height: 70px;
        padding: 10px 60px 0px;
        .project-element{
          width: 20%;
          height: 70px;
          &:nth-child(n+6){
            display: none;
          }
        }
      }
    }
  }
  .introduce-section{
    padding: 60px 100px;
  }
  .about-section{
    .about-element{
      width: 100%;
      border-right: 1px solid transparent;
      p{
        margin-top: 30px;
      }
    }
    .rule-content{
      width: 50%;
      margin-top: 30px;
      margin-bottom: 50px;
      padding-right: 30px;
      .rule-element{
        margin-bottom: 5px;
      }
    }
    .image-about{
      width: 50%;
    }
  }
  .feedback-section{
    .feedback-element{
      .image-customer{
        float: none;
        text-align: center;
      }
      .caret{
        display: none;
      }
      .feeback-content{
        margin-left: 0px;
      }
    }
  }
  .team-section{
    .team-element{
      width: 33.3%;
    }
  }
  .partner-section{
    .partner-element{
      width: 30%;
      margin-left: 5%;
      &:nth-of-type(4n+1){
        margin-left: 5%;
      }
      &:nth-of-type(3n+1){
        margin-left: 0px;
      }
    }
  }
  footer{
    .footer-col{
      width: 50%;
      margin-top: 20px;
    }
  }
}

//====================
// Extra small devices
//====================
@media screen and (max-width: 768px) {
  .header-section{
    padding: 15px 40px 0px;
    .logo{
      .image-logo{
        width: 45px !important;
        height: 40px !important;
      }
      .title-logo{
        height: 55px;
        float: left;
        .title-main{
          margin-top: 13px !important;
          padding: 0px 0px 6px 8px !important;
          font-size: 26px !important;
        }
        .line-logo{
          width: 102%;
          height: 3px;
          background: black;
        }
      }
    }
    .navbar{
      img{
        width: 80% !important;
        height: 80% !important;
        //margin-top: 5px !important;
      }
    }
  }
  .slider-section{
    height: 500px;
    background-size: 130%;
  }
  .slider-content{
    margin-top: 50px;
    top: 60%;
    transform: translateY(-75%);
    .slider-title{
      font-size: 15px;
      line-height: 60px;
      margin-top: 10px;
      span {
        font-size: 20px;
      }
    }
    button{
      margin-top: 30px;
    }
    button.btn-details {
      margin-top: 0px;
    }
  }
  .slider-section {
    height: 350px;
  }
  .service-section{
    padding: 30px 40px;
    .service-content {
      margin-top: 40px;
      .service-element {
        .image-service {
          width: 72px;
          height: 72px;
          img {
            width: 40px;
            height: 40px;
          }
        }
        h5 {
          display: none;
        }
      }
    }
  }
  .sub-title-section{
    width: 400px !important;
    padding: 0px 20px;
  }
  .detail-project{
    .image-large{
      width: 80%;
    }
  }
  .portfolio-section{
    .control{
      .project-page{
        .project-element{
          opacity: 1;
        }
      }
    }
  }
  .portfolio-details {
    .portfolio-content{
      height: 680px;
      width: 100%;
      .portfolio-group {
        .carousel-inner {
          height: 550px;
          .item {
            height: 100%;
            .portfolio-element{
              opacity: 1;
              width: 50%;
              height: 50%;
              padding: 0px 20px;
              img, .portfolio-info{
                width: 100%;
              }
              img{
                height: 230px;
              }
              &:first-of-type{
                .image-first{
                  margin-left: 0px;
                  opacity: 1;
                }
              }
              .portfolio-info{
                margin-top: 10px;
                margin-left: 0px;
                height: auto;
                opacity: 1;
                position: static;
              }
            }
          }
        }

      }
    }
  }
  .introduce-section{
    padding: 60px 100px;
    h1{
      font-size: 22px;
      line-height: 38px;
    }
  }
  .about-section{
    .rule-content{
      width: 100%;
      .rule-element{
        img{
          width: 45px;
        }
        .rule-info {
          .title-rule{
            font-size: 17px;
          }
          p{
            font-size: 12px;
          }
        }
      }
    }
    .image-about{
      display: none;
    }
    .about-element{
      p{
        font-size: 12px;
      }
    }
  }
  .feedback-section{
    .feedback-element{
      width: 100%;
      .image-customer{
        float: left;
        text-align: left;
      }
      .caret{
        display: block;
      }
      .feeback-content{
        margin-left: 130px;
      }
    }
  }
  .team-section{
    .team-element{
      width: 50%;
    }
  }
  .partner-section{
    .partner-element{
      width: 47%;
      margin-left: 6%;
      &:nth-of-type(4n+1){
        margin-left: 6%;
      }
      &:nth-of-type(3n+1){
        margin-left: 6%;
      }
      &:nth-of-type(2n+1){
        margin-left: 0px;
      }
    }
  }
  footer{
    .footer-col{
      width: 100%;
      margin-top: 35px;
      p{
        font-size: 13px;
      }
      h5{
        font-size: 18px;
      }
      .infomation{
        &:first-of-type{
          margin-top: 15px;
        }
      }
      .post-element{
        margin-top: 25px;
        .image-post{
          width: 70px !important;
          height: 70px !important;
        }
        .content-post{
          h6{
            font-size: 16px !important;
          }
          .time-post{
            .time-element{
              span{
                font-size: 11px !important;
              }
            }
          }
        }
      }
      &:last-child{
        h5{
          margin-bottom: 25px;
        }
      }
    }
  }
}
