@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
// Place all the styles related to the Home controller here.
// They will automatically be extendd in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
	padding-top: 60px;
  width: 100%;
  height: 100%;
  background-color: #fff;
  font-family: "Helvetica";
}
//Header

.header-section{
  width: 100%;
  height: 452px;
  left: 0;
  margin-top: -60px;
    .bg-header{
      z-index: -1;
    }
    .header-title{
      width: 945px;
      padding-top: 70px;
      margin: 0px auto;
      position: relative;
      margin-top: -468px;
    }
}

.logo{
  width: 235px;
  height: 235px;
  border-radius: 50%;
  float: left;
  margin-top: 3px;
}
.title{
  width: 600px;
  padding: 5px 20px;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  float:left;
  margin-left: -11px;
  margin-top: 30px;
}
.title-medium{
  color: white;
  font-weight: bold;
  font-size: 45px;
  margin: 10px 0px 0px;
  padding: 0;
}
.title-large{
  color: white;
  font-weight: bold;
  font-size: 82px;
  margin: -6px;
  padding: 0;
  letter-spacing: -1px;
}
.container-fluid {
  margin: 0;
  padding: 0;
  .inner-container {
    width: 1024px;
    margin: 0 auto;
  }
}
//Navbar
.menu-section{
  width: 100%;
  height: 60px;
  background-color: #ff5722;
  box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.9);
    .menu-content{
      width: 670px;
      margin: 0px auto;
      list-style: none;
        li{
          float: left;
          padding: 16px 19px 15px;
            a{
            color: white;
            text-decoration: none;
            font-size: 18px;
            font-weight: bold;
          }
        }
        li:hover{
          border-bottom: 3px solid white;
        }
    }
}
.menu-section-scroll{
  position: fixed;
  top: 0;
  z-index: 1;
}
//Service

.service-section {
  width: 100%;
  height: auto;
    .service-content{
      width: 1245px;
      margin: 0px auto;
      margin-top: 101px;
        .service-title{
          color: #ff5722;
          font-weight: bold;
          font-size: 60px;
          border-top: 1px solid #ff4e50;
          border-bottom: 1px solid #ff4e50;
          width: 265px;
          margin: 0px auto;
        }
        .service-center{
          margin: 65px 0px;
          height: 420px;
            .service-box{
              width: 268px;
              height: 420px;
              margin-right: 57px;
              float: left;
              box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.7);
                .service-header{
                  width: 100%;
                  height: 55px;
                  background-color: #ff5722;
                  color: white;
                  font-size: 18px;
                  font-weight: bold;
                  text-align: center;
                  padding: 15px;
                }
                .textlong{
                  padding: 2px;
                }
                .service-body{
                  padding: 30px;
                    img{
                      margin-left: 39px;
                    }
                    p{
                      padding-top: 35px;
                      width: 212px;
                      color: #414242;
                    }
                }
            }
            .last{
            margin-right: 0px;
            }
        }
    }
}
@media screen and (max-width: 1245px) {
  .service-section{
    .service-content{
      width: 594px;
      .service-center{
        .service-box{
          margin-bottom: 65px;
        }
        #section-box-2{
          margin-right: 0px;
        }
      }
    }
  }
}

textarea {
	resize: vertical;
}

.center {
	text-align: center;
	h1 {
		margin-bottom: 10px;
	}
}

.footer-above{
  margin: auto;
  h3{
    color: white;
  }
  p{
    color: white;
  }
}

.base-section {
  padding-top: 100px;
  text-align: left;
  background: #fff;
  color: orangered;
  width: 100%;
}

.panel {
  margin-bottom: 20px;
  background-color: #fff;
  border: 1px solid transparent;
  border-radius: 4px;
  box-shadow: 2px 5px 10px #AB9A9A;
  &.panel-default {
    .panel-heading{
      text-align: center;
      color: white;
      background-color: orangered;
    }
  }
  &.panel-custom {
    color: black;
  }
}

.btn{
  color: white;
  background-color: orangered;
  margin-left: 15px;
  &.btn-outline {
    margin: 5px;
    margin-left: 0px;
    border: solid 2px #fff;
    font-size: 20px;
    color: #fff;
    background: 0 0;
  }
  &.btn-social {
    display: inline-block;
    width: 50px;
    height: 50px;
    border: 2px solid #fff;
    border-radius: 100%;
    text-align: center;
    font-size: 20px;
    line-height: 45px;
  }
}

.form-control{
  border-color: orangered;
}



.work-section {
  @extend .base-section;
  background: orangered;

}

.team-section {
  @extend .base-section;
  background: #FF4C00;
}

.about-section {
  @extend .base-section;
  background: white;

}

.contact-section {
  @extend .base-section;
  background: #fff;
}

.footer-section{
  @extend .base-section;
  background-color: orangered;
  padding-top: 50px;
}

.section {
	.header {
		color: yellow;
	}
	.content {
		.items {
			color: red;	
		}
		.subheader {}
	}
}

.title_red{
  color:orangered; 
  border-top: solid 1px red; 
  border-bottom: solid 1px red; 
  display: inline-block;
  margin-bottom: 60px;
}
.title_white{
  color:white; 
  border-top: solid 1px white; 
  border-bottom: solid 1px white; 
  display: inline-block;
  margin-bottom: 60px;
}
.text_content{
  color:black;
  font-size: 20px;
  font-family: fantasy;
}

.carousel-section {
  .item {
    height: 300px;
  }
  p{
    font-size: 35px
  }
}
.team-content{
  
  color:white;
  h3{
    font-size: 25px;
  }
  p{
    font-size: 15px;
  }
  .image{
    height: 250px;
    width: 250px;
  }
}