@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700,600);
// Place all the styles related to the Home controller here.
// They will automatically be extendd in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  width: 100%;
  height: 100%;
  background-color: #fff;
  font-family: "Open Sans";
}
//Structure
.content{
  padding: 100px 0px;
  .title{
    color: #181818;
    font-size: 40px;
    text-align: center;
    margin: 5px auto;
    span {
      // border-top: 1px solid #f7c31b;
      // border-bottom: 1px solid #f7c31b;
    }
  }
  .line{
    width: 50px;
    height: 2px;
    margin: 10px auto;
    background-color: #f7c31b;
  }
  .container{
    margin-top: 65px;
    padding-left: 0px;
    padding-right: 0px;
    min-width: 100%;
  }
}

//Header
//Navbar
.header-section{
  .slider{
  }
  .navigation{
    position: fixed;
    width: 100%;
    background-color: white;
    z-index: 1;
    .logo{
      float: left;
      margin-left: 20px;
      margin-top: 10px;
      img{
        width: 60px;
        height: 60px;
        float: left;
      }
      .title{
        float: left;
        margin-left: 8px;
        h1{
          margin-bottom: 5px;
          color: #f7c31b;
          font-size: 25px;
          margin-top: 8px;
          text-transform: uppercase;
        }
        h2{
          margin-top: 0px;
          font-size: 15px;
          text-transform: uppercase;
        }
      }
    }
    .navbar{
      display: none;
    }
    .menu-content{
      list-style: none;
      float: right;
      margin: 5px 10px 5px 0px;
      padding-left: 10px;
      padding-right: 10px;
      li{
        margin: 10px 0px;
        float: left;
        cursor: pointer;
        .outside{
          border: 1px solid transparent;
          width: 100px;
          height: 40px;
          opacity: 1;
          margin: 10px;
          transform: scale(1);
          transition: 1s;
          position: absolute;
          display: block;
        }
        .inside{
          width: 100px;
          text-align: center;
          height: 40px;
          margin: 10px;
          outline: 1px solid transparent;
          font-size: 14px;
          padding-top: 12px;
          box-shadow: inset 0px 0px 6px transparent;
          transition: 0.5s;
        }
        &:hover{
          .outside{
            transform: scale(1.2);
            height: 50px;
            border: 1px solid #f8b100;
            opacity: 0;
            margin-top: 5px;
          }
          .inside{
            background-color: #f7c31b;
            color: white;
            outline: 1px solid transparent;
            box-shadow: inset 0px 0px 6px #f7c31b;
          }
        }
      }
      .active{
        background-color: #f7c31b;
        color: white;
        outline: 1px solid transparent;
        box-shadow: inset 0px 0px 6px #f7c31b;
      }
    }
  }
}
@media screen and (max-width: 986px){
  .header-section{
    .navigation{
      position: static;
      .logo{
        float: left;
      }
      .navbar{
        display: block;
        width: 30px;
        float: right;
        margin-right: 20px;
        cursor: pointer;
        img{
          width: 100%;
          height: 100%;
          margin-top: 25px;
        }
      }
      .menu-content{
        padding-left: 0px;
        margin-left: 0px;
        width: 100%;
        float: left;
        display: none;
        li{
          float: none;
          padding-right: 10px;
          .outside{
            display: none;
          }
          .inside{
            width: 100%;
            text-align: left;
            padding-left: 30px;
          }
        }
      }
    }
  }
}



.row{
  margin-right: 0px;
}
.title-01{
  width: 600px;
  padding: 5px 20px;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  float:left;
  margin-left: -11px;
  margin-top: 30px;
}
.title-medium{
  color: white;
  font-weight: bold;
  font-size: 45px;
  margin: 10px 0px 0px;
  padding: 0;
}
.title-large{
  color: white;
  font-weight: bold;
  font-size: 82px;
  margin: -6px;
  padding: 0;
  letter-spacing: -1px;
}
.container-fluid {
  margin: 0;
  padding: 0;
  .inner-container {
    width: 1024px;
    margin: 0 auto;
  }
}

//Service
.service-section {
  height: auto;
  .content{
    .service-row{
      width: 50%;
      float: left;
      margin-top: 50px;
      height: 150px;
      .service-img{
        width: 150px;
        height: 150px;
        background-color: #f7c31b;
        border-radius: 50%;
        margin-left: 20px;
        float: left;
        position: relative;
        transform: scale(0);
        transition: 0.5s;
        img{
          width: 60%;
          height: 60%;
          margin-top: 20%;
          margin-left: 20%;
          opacity: 0.6;
        }
      }
      .service-right{
        float: right;
        margin-left: 0px;
        margin-right: 20px;
      }
      .text-service-right{
        h4, p{
          text-align: right;
          padding-right: 200px;
          padding-left: 50px;
        }
        h4{
          margin-top: 20px;
        }
      }
      .text-service-left{
        h4, p{
          padding-left: 200px;
          padding-right: 50px;
        }
        h4{
          margin-top: 20px;
        }
      }
      .text-service{
        opacity: 0;
        h4{
          text-transform: uppercase;
          color: #f7c31b;
          font-size: 19px;
        }
        p{
          color: #878787;
          font-size: 14px;
        }
      }
    }
   .service-row:nth-child(1){
     .service-img{
        top: 100px;
        left: 90px;
      }
    }
    .service-row:nth-child(2){
     .service-img{
        top: 100px;
        left: -100px;
      }
    }
    .service-row:nth-child(3){
     .service-img{
        top: -100px;
        left: 90px;
      }
    }
    .service-row:nth-child(4){
     .service-img{
        top: -100px;
        left: -100px;
      }
    }
  }
}

@media screen and (max-width: 860px){
  .service-section {
    .content{
      .service-row{
        width: 90%;
        margin-left: 5%;
        .service-right{
          float: left;
          margin-left: 20px;
          margin-right: 0px;
        }
        .text-service-right{
          h4, p{
            text-align: left;
            padding-left: 200px;
            padding-right: 20px;
          }
        }
      }
      .service-row:nth-child(1),.service-row:nth-child(2),.service-row:nth-child(3),.service-row:nth-child(4){
       .service-img{
          top: 0px;
          left: 0px;
        }
      }
    }
  }
}
@media screen and (max-width: 500px){
  .service-section {
    .content{
      .service-row{
        width: 100%;
        margin-left: 0%;
        .service-img{
          width: 120px;
          height: 120px;
        }
        .text-service-right, .text-service-left{
          h4, p{
            padding-left: 20px;
            padding-right: 20px;
            overflow: hidden;
          }
          h4{
            margin-top: 10px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 420px){
  .service-section {
    .content{
      .service-row{
        height: 280px;
        .service-img{
          float: none;
          width: 150px;
          height: 150px;
          margin: auto;
        }
        .service-right{
          float: none;
          margin-left: 0px;
          margin: auto;
        }
        .text-service-right, .text-service-left{
          h4, p{
            text-align: center;
            padding-left: 20px;
            padding-right: 20px;
            overflow: hidden;
          }
          h4{
            margin-top: 20px;
          }
        }
      }
    }
  }
}

//Work Session
.work-section {
  background-image: url("#{asset_path('bg-work.jpg')}");
  height: 660px;
  .content{
      padding: 0% important;
      .work-title{
          color: #181818;
          padding-left: 3px;
          span{
            border-top: 1px solid #181818;
            border-bottom: 1px solid #181818;
          }
      }
      
      .content-work{         
          padding: 0% important;
          padding-top: 100px;
          margin-left: 7%;
          .view {
              width: 300px;
              height: 200px;
              margin: 10px;
              float: left;
              border: 10px solid #fff;
              overflow: hidden;
              position: relative;
              text-align: center;
              box-shadow: 1px 1px 2px #e6e6e6;
              cursor: default;
              background: #fff url(../images/bgimg.jpg) no-repeat center center
          }
          .view .mask, .view .content {
              width: 300px;
              height: 200px;
              position: absolute;
              overflow: hidden;
              top: 0;
              left: 0
          }
          .view img {
              border: 1px solid #181818;
              display: block;
              width: 100%; 
              height: 100%;
              margin-bottom: 9px;
              position: relative
          }
          .view h2 {
              text-transform: uppercase;
              color: #fff;
              text-align: center;
              position: relative;
              font-size: 17px;
              padding: 10px;
              background: rgba(0, 0, 0, 0.8);
              margin: 20px 0 0 0
          }
          .view p {
              font-family: Georgia, serif;
              font-style: italic;
              font-size: 12px;
              position: relative;
              color: #fff;
              padding: 10px 20px 20px;
              text-align: center
          }
          .view a.info {
              display: inline-block;
              text-decoration: none;
              padding: 7px 14px;
              background: #000;
              color: #fff;
              text-transform: uppercase;
              box-shadow: 0 0 1px #000
          }
          .view a.info:hover {
              box-shadow: 0 0 5px #000
          }
          .view-ninth .mask-1,
          .view-ninth .mask-2{
            background-color: rgba(0,0,0,0.5);
              height: 361px;
              width: 361px;
            background: rgba(119,0,36,0.5);
            opacity: 1;
              transition: all 0.3s ease-in-out 0.6s;
          }
          .view-ninth .mask-1 { 
              left: auto;
              right: 0px;
              transform: rotate(56.5deg) translateX(-180px);
              transform-origin: 100% 0%;
          }
          .view-ninth .mask-2 { 
              top: auto;
              bottom: 0px;
              transform: rotate(56.5deg) translateX(180px);
              transform-origin: 0% 100%;
          }
          .view-ninth .content{
              padding: 0%;
              background: rgba(0,0,0,0.9);
              height: 0px;
              opacity: 0.5;
              width: 361px;
              overflow: hidden;
              transform: rotate(-33.5deg) translate(-112px,166px);
              transform-origin: 0% 100%;
              transition: all 0.4s ease-in-out 0.3s;
          }
          .view-ninth h2{
              background: transparent;
              margin-top: 5px;
              border-bottom: 1px solid rgba(255,255,255,0.2);
          }
          .view-ninth a.info{
              display: none;
          }
          .view-ninth:hover .content{
              height: 120px;
              width: 300px;
              opacity: 0.9;
              top: 30px;
              transform: rotate(0deg) translate(0px,0px);
              padding: 0 !important;
          }
          .view-ninth:hover .mask-1,
          .view-ninth:hover .mask-2{
            transition-delay: 0s;
          }
          .view-ninth:hover .mask-1{
              transform: rotate(56.5deg) translateX(1px);
          }
          .view-ninth:hover .mask-2 {  
              transform: rotate(56.5deg) translateX(-1px);
          }
      }
    }
}
// ABOUT SECTION:
.about-section{
  height: 660px;
  background-color: #181818;
  .content{
    .about-title{
      padding-left: 5px;
    }
    .about-center{
      padding-left: 100px;
      img{
        width: 235px;
        height: 220px;
        float: left;
        margin-top: -5px;
      }
      .text{
        width: 870px;
        font-size: 20px;
        color: white;
      }
    }
  }
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

.footer-above{
  margin: auto;
  h3{
    margin-left: 30%;
    width: 100%;
    color: black;
  }
  p{
    margin-left: 30%;
    width: 45%;
    color: black;
  }
  #demo.h3{
    margin-left: 50%;
    width: 45%;
    color: black;
  }
  #demo.text{
    margin-left: -40%;
    margin-top: -1%;
    color: black;
  }
  #demo.boder{
  }
  ul.social-buttons{
    margin-left: 50%
  }
  //*[@id="demo2"]
  
  a{
    margin-left: 10px; 
  }
  
}
.footer-copyright{
  margin: 0px;
  p{
    text-align: center;
    margin-left: 30%;
    width: 180px;
    color: black;
  }
  img{
    margin-left: 40%;
  }
}

.base-section {
  padding-top: 100px;
  text-align: left;
  background: #333333;
  color: #f7c31b;
  width: 100%;
}

.panel {
  width:  325px;
  margin-bottom: 20px;
  background-color: #333333;
  border: 1px solid #f7c31b;
  border-radius: 4px;
  &.panel-default {
    .panel-heading{
      text-align: center;
      color: #333333;
      background-color: #f7c31b;
    }
  }
  &.panel-custom {
    color: #f7c31b;
  }
}

.btn{
  color: black;
  background-color: #f7c31b;
  margin-left: 15px;
  &.btn-outline {
    margin: 5px;
    margin-left: 0px;
    border: solid 2px #fff;
    font-size: 20px;
    color: #fff;
    background: 0 0;
  }
  &.btn-social {
    display: inline-block;
    width: 50px;
    height: 50px;
    border: 2px solid #fff;
    border-radius: 100%;
    text-align: center;
    font-size: 20px;
    line-height: 45px;
  }
}

.form-control{
  border-color: #f7c31b;
  background: rgb(250, 255, 189);
}

.team-section {
  @extend .base-section;
  background: #f7c31b;
  .img-circle {
    height: 250px;
    width: 250px;
  }
  .team-content{
    color:white;
    h4{
      font-size: 25px;
    }
    p{
      font-size: 15px;//*[@id="demo2"]
    }
    div{
      font-size: 15px;
      padding-top: 30px;
    }
  }
}

.contact-section {
  @extend .base-section;
  background: #333333;
  height: 660px;
  .panel-body{
    width: 335px;
    color: white;
  }
  .row{
    
    .h3.title.work-title{
      text-align: center;
      span{
        font-weight: bold;
        font-size: 60px;
        text-align: center;
        color: #f7c31b;
        padding-left: 3px;
        border-top: 1px solid #f7c31b;
        border-bottom: 1px solid #f7c31b;
      }
    }
  }
}

.footer-section{
  @extend .base-section;
  background-color: #f7c31b;
  padding-top: 50px;
}

.title_red{
  color:orangered; 
  border-top: solid 1px red; 
  border-bottom: solid 1px red; 
  display: inline-block;
  margin-bottom: 60px;
}
.title_white{
  color:white; 
  border-top: solid 1px white; 
  border-bottom: solid 1px white; 
  display: inline-block;
  margin-bottom: 60px;
}
.text_content{
  color:black;
  font-size: 20px;
  font-family: fantasy;
}

.carousel-section {
  .item {
    height: 300px;
  }
  p{
    font-size: 35px
  }
}

#social:hover {
  -webkit-transform:scale(1.1); 
  -moz-transform:scale(1.1); 
  -o-transform:scale(1.1); 
}
#social {
  -webkit-transform:scale(0.8);
  /* Browser Variations: */
  -moz-transform:scale(0.8);
  -o-transform:scale(0.8); 
  -webkit-transition-duration: 0.5s; 
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
} 
/* 
    Only Needed in Multi-Coloured Variation 
                                               */
      
.social-fb {
  color: white;
  &:hover {
    color: #3B5998;  
  }
}
.social-tw:hover {
  color: #33ffff;
}
.social-tw {
  color: white;
  :hover {
    color: #33ffff;
  }
}
.social-gp:hover {
  color: #d34836;
}
.social-gp {
  color: white;
}
.social-em:hover {
  color: #f39c12;
}
.social-em {
  color: white;
}
.social-gb:hover {
  color: black;
}
.social-li:hover {
  color:  #0000FF;
}
.social-gb {
  color: white;
}
.social-li {
  color: white;
}

@import url(http://weloveiconfonts.com/api/?family=brandico);

/* brandico */
[class*="brandico-"]:before {
  font-family: 'brandico', sans-serif;
}

ul.social-buttons {
  text-align: center;
  margin-top: 10px;
  margin-right: 30px;
  li {
    display: inline-block;
    a {
      width: 30px;
      height: 30px;
      display: block;
      border-radius: 30px;
      text-decoration: none;
      font-size: 15px;
      line-height: 30px;
      color: white;
      &.brandico-twitter-bird {
        background-color: #4099FF;
      }

      &.brandico-facebook {
        background-color: #3B5998;
      }

      &.brandico-instagram {
        background-color: #3f729b;
      }

      &.brandico-vimeo {
        background-color: #4EBBFF;
      }

      &.brandico-linkedin {
        background-color: #0e76a8;
      }
    }
  }
}

/*Demo 2*/
ul#demo2 {
  li a {
      transition: transform 0.5s ease-in-out;
  }
  li:hover a {
      transform: rotateX(180deg) rotateY(180deg) rotateZ(180deg);
  }
}

.contact-info {
  .fa {
    margin-right: 5px;
    width: 16px;
    height: 16px;
    text-align: center;
  }
}

@font-face {
  font-family: 'opensans';
  src:font-url('OpenSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/*Backtohome button*/
.scrollToTop{
   width:40px;
   height: 40px;  
   background-image: url('/assets/arrow.png');
   position:fixed;
   right:30px;
   bottom:30px;
   display:none;
}
.scrollToTop-1{
    width:40px;
   height: 40px;  
   background-image: url('/assets/arrow.png');
   position:fixed;
   right:30px;
   bottom:30px;
   display:none;
}
.scrollToTop-2{ 
   background-image: url('/assets/arrow1.png');
}

//TEAM SECTION
.team-section {
  background-image: url("#{asset_path('bg-work.jpg')}");
  height: 660px;
  .content{
      padding-top: 0px;
      .team-title{
          color: #181818;
          padding-left: 3px;
          span{
            border-top: 1px solid #181818;
            border-bottom: 1px solid #181818;
          }
      }
      .team-img-l{
        float: left;
        transition: 0.1s;
        img{
            width: 250px;
            height: 250px;
            margin-top: 100px;
            margin-left: -25%;
            text-align: center;
            margin-right: 10px;
        }
      }
      .team-img-r{
        float: left;
        transition: 0.1s;
        img{
            width: 250px;
            height: 250px;
            margin-top: 100px;
            margin-left: -49%;
            text-align: center;
        }
      }
    }
      .team-text-l{
        margin-top: 150px;
        margin-left: 270px;
        text-align: center;
        h4{
            color: #181818;
            font-size: 26px;
            font-weight: bold;
            margin-left: -700%;


          }
          p{
            color: #181818;
            font-size: 14px;  
            font-style: oblique;
            margin-left: -700%;
          }
          div{
            color: #181818;
            font-size: 13px;
            margin-left: -520%;
            width: 200px;
            text-align: left;
          }
      }
      .team-text-r{
        margin-top: 150px;
        margin-left: -21.5%;
        text-align: center;
        h4{
            color: #181818;
            font-size: 26px;
            font-weight: bold;
            width: 150px;
            margin-left: 125%;
          }
          p{
            color: #181818;
            font-size: 14px;  
            font-style: oblique;
            margin-left: 200%;
          }
          div{
            color: #181818;
            font-size: 13px;
            width: 270px;
            text-align: left;
          }
      }
    }
// ABOUT SECTION:
.about-section{
  background-color: #181818;
  
  .content{
    .about-title{
      padding-left: 5px;
    }
    .about-center{
      padding-left: 100px;
      .col-01{
        float: left;
        img{
          width: 240px;
          height: 260px;
          margin-top: -17px;
        }
      }
      .col-02{
          .text{
          width: 930px;
          font-size: 20px;
          color: white;
          line-height: 25px;
          .br{
            text-indent: 30px;
          }
        }
      }
    
    }
  }
}
.carousel-section {
  .item {
    height: 300px;
  }
  p{

    padding-bottom: 35px;
    font-size: 35px
  }
}