//=================
// Responsive style
//=================

@media screen and (max-width: 1600px){

  .slider-section{
    height: 900px;
  }
  .slider-content{
    margin-top: 400px;
  }

  .portfolio-details {
    .portfolio-content {
      .item {
        height: 430px;
      }
    }
  }
}

@media screen and (max-width: 1369px){

  .slider-section{
    height: 766px;
  }
  .slider-content{
    margin-top: 300px;
  }

  .portfolio-details {
    .portfolio-content {
      .item {
        height: 350px;
      }
    }
  }
}

// Medium devices
@media screen and (max-width: 1200px){

//header
  .header-section{
    .navigation{
      position: static;
      .logo{
        float: left;
        width: auto;
      }
      .navbar{
        display: block;
        float: right;
        margin: 0px;
        margin-top: 10px;
        cursor: pointer;
        vertical-align: middle;
        img{
          width: 30px;
          height: auto;
        }
      }
      .menu-content{
        padding: 0px;
        margin-left: 0px;
        width: 100%;
        float: left;
        display: none;
        position: fixed;
        top: 0px;
        left: 0px;
        height: 100%;
        background-color: #f7f7f7;
        #home {
          margin-top: 50px;
        }
        li{
          float: none;
          padding: 10px 0px;
          position: relative;
          z-index: 1;
          font-size: 22px;
          text-transform: uppercase;
          margin-bottom: 50px;
          /*margin-top: 50px;*/
          text-align: center;
          &.bg-menu{
            width: 100%;
            height: 100%;
            position: absolute;
            z-index: 0;
            background: #FCB829;
          }
          &.active, &:hover{
            color: black;
            font-weight: 600;
            font-size: 25px;
          }
        }
      }
    }
  }

//SERVICE

//PORFOLIO

//TESTIMONIAL

//ABOUT

//TECH

//TEAM

//FOOTER

}

// Small devices
@media screen and (max-width: 1024px) {
  //SERVICE
    .service-section {
      .service-content {
        width: 95%;
      }
    }
  //PORTFOLIO
  .portfolio-details {
    .portfolio-content {
      .item {
        height: 290px;
      }
    }
  }
  .portfolio-section {
    .sub-title-section {
      width: 40%;
    }
    .control{
      margin: 30px auto;
      width: 600px;
      text-align: center;
    }
  }
  //TESTIMONIAL
  .feedback-section{
    .feedback-group{
      width: 95%;
      .feedback-content{
        min-height: 145px;
      }
    }
  }

  //INTRODUCE
  .introduce-section{
    padding: 60px 100px;
  }
  //ABOUT
  .about-section {
    .about-info {
      width: 95%;
      .rule-element, .about-element, .introduce-element {
        width: 33.3%;
      }
    }
  }
  //TECH
  .tech-section {
    .tech-group {
      width: 90%;
    }
  }
  //TEAM
  .team-section {
    .team-slogan {
      p {
        width: 40%;
      }
    }
    .team-content {
      width: 95%;
    }
    .team-banner {
      .banner-content {
        .slogan {
          p {
            width: 40%;
          }
        }
        button {
          width: 20%;
        }
      }
    }
  }
  //PARTNER
  .partner-section{
    padding: 35px 0px 65px 0px;
    .introduce-clients {
      width: 40%;
    }
    .partner-content {
      .partner-element{
        width: 50%;
      }
    }
  }
  //TOUCH
  .touch-section {
    .touch-content {
      width: 80%;
    }
  }
  //FOOTER
  .footer-section {
    .footer-upper {
      .footer-banner {
        .footer-group {
          width: 50%;
        }
      }
    }
    .footer-main {
      .footer-content {
        width: 95%;
      }
    }
  }
}

//====================
// Extra small devices
//====================
@media screen and (max-width: 768px) {
  //HEADER
  .header-section{
    padding: 5px 40px 5px;
    .logo{
      .image-logo{
        width: 50px !important;
        height: 50px !important;
      }
      .title-logo{
        height: 55px;
        float: left;
        .title-main{
          margin-top: 13px !important;
          padding: 0px 0px 6px 8px !important;
          font-size: 26px !important;
        }
        .line-logo{
          width: 102%;
          height: 3px;
          background: black;
        }
      }
    }
    .navigation {
      .navbar{
        min-height: 30px;
        img{
          width: 25px;
        }
      }
    }
  }
  //SLIDER
  .slider-content{
    top: 130px;
    transform: translateY(-75%);
    margin-top: 230px;
    .slider-title{
      font-size: 15px;
      margin-top: 10px;
      span {
        font-size: 20px;
      }
    }
    button{
      margin-top: 30px;
    }
    button.btn-details {
      margin-top: 0px;
    }
  }
  .slider-section{
    height: 500px;
  }
  //SERVICE
  .service-section{
    padding: 50px 40px;
    .sub-title-section {
      width: 45%;
    }
    .service-content {
      width: 100%;
      .service-element {
        padding: 0px;
        font-size: 10px;
        h5.title-service {
          margin-top: 75px;
          font-size: 10px;
        }
        .image-service {
          width: 80px;
          height: 80px;
          img {
            width: 40px;
            height: 40px;
            margin-top: 27.5% !important;
          }
          #web-img.img {
            margin-top: 27.5%;
          }
        }
      }
    }
  }
  //PORTFOLIO

  .portfolio-section {
    .title-portfolio {
      height: 190px;
      .title-small {
        margin-top: 25px;
      }
      .sub-title-section {
        width: 50%;
      }
    }
  }

  .portfolio-details {
    .navigation-bar {
      width: 50%;
    }
    .portfolio-content{
      .portfolio-group {
        .carousel-inner {
          .item {
            height: 800px;
            .portfolio-element{
              opacity: 1;
              width: 50%;
              height: 50%;
            }
          }
        }
      }
    }
  }
  //FEEDBACK
  .feedback-section{
    .feedback-group {
      .feedback.element{
        width: 46%;
      }
    }
    ol.carousel-indicators {
      li {
        width: 15px;
        height: 15px;
      }
    }
  }
  //ABOUT
  .introduce-section{
    padding: 60px 100px;
    h1{
      font-size: 22px;
      line-height: 38px;
    }
  }
  .about-section{
    padding: 0px 15px 50px 0px;
    .about-info {
      padding: 0px 15px;
      .introduce-element {
        width: 45%;
      }
      .about-element, .mission-content {
        width: 100%;
        p { margin: 15px 0px 15px 0px; }
      }

      .rule-content {
        width: 100%;
        border: none;
        .line { margin-bottom: 25px; }
      }
    }
  }
  //TECH
  .tech-section {
    .tech-group {
      width: 100%;
    }
  }

  //TESTIMONIAL
  .feedback-section{
    .feedback-element{
      width: 100%;
      .image-customer{
        float: left;
        text-align: left;
      }
      .caret{
        display: block;
      }
      .feeback-content{
        margin-left: 130px;
      }
    }
  }
  //TEAM
  .team-section{
    padding-top: 60px;
    .team-slogan {
      p { width: 50%; }
    }
    button {
      margin-top: 15px;
      margin-bottom: 60px;
    }
    .team-banner {
      .banner-content {
        .slogan {
          p { width: 50%; }
        }
      button { width: 25% !important; }
      }
    }
  }
  //CLIENT
  .partner-section{
    .introduce-clients {
      width: 50%;
    }
    .partner-content{
      .partner-element {
        width: 50%;
        margin: 0px;
        padding: 0px;
        .partner-small {
          width: 50%;
          margin: 0px;
          padding: 0px;
        }
      }
    }
  }
  //GET IN TOUCH
  .touch-section {
    .touch-content {
      width: 90%;
      .touch-form {
        .input-1, .input-2 {
          width: 48%;
          margin-bottom: 10px;
        }
        .input-3 {
          textarea {
          }
        }
      }
    }
  }
  //FOOTER
  .footer-section {
    .footer-main {
      .footer-content {
        width: 80%;
        .footer-col {
          width: 30%;
          margin-left: 1.66%;
          margin-right: 1.66%;
        }
        .footer-col:nth-child(2) {
          display: none;
        }
      }
    }
  }
}

/*@media screen and (max-width: 500px) {
  .portfolio-section {
    .title-portfolio {
      .sub-title-section {
        width: 80%;
      }
    }
  }
  .slider-section {
    .homepage-hero-module{
      background-image: url(asset_path('background-home-small.png'));
    }
    height: 450px;
  }
  .service-section{
    .service-content {
      .service-element {
        padding: 0px 5px;
        h5.title-service {
          font-size: 8px;
          margin-top: 10px;
        }
      }
    }
  }
}*/
//================
// iphone6-plus
//================

@media screen and (max-width: 414px) {

  //HEADER

  .header-section{
    padding: 5px 40px 5px;
    .logo{
      .image-logo{
        width: 50px !important;
        height: 50px !important;
      }
      .title-logo{
        height: 55px;
        float: left;
        .title-main{
          margin-top: 13px !important;
          padding: 0px 0px 6px 8px !important;
          font-size: 26px !important;
        }
        .line-logo{
          width: 102%;
          height: 3px;
          background: black;
        }
      }
    }
    .navigation {
      .navbar{
        min-height: 30px;
        img{
          width: 25px;
        }
      }
    }
  }

  //SLIDER

  .slider-content{
    top: 130px;
    transform: translateY(-75%);
    margin-top: 260px;
    .slider-title{
      font-size: 16px;
      margin-top: 10px;
      span {
        font-size: 22px;
      }
    }
    button{
      margin-top: 40px;
    }
    button.btn-details {
      margin-top: 10px;
      padding: 5px 15px;
      font-size: 12px;
    }
  }
  .slider-section{
    height: 500px;
  }

  //SERVICE

  .service-section {
    padding: 60px 0px !important;
    background: white;
    .sub-title-section{
      margin-bottom: 0px;
      width: 70%;
      /*color: #444;*/
      font-weight: 400;
      color: #444;
      font-size: 15px;
      font-weight: 300%;
      line-height: 20px;
    }
    .title-small{
      span{
        border-left: 1px solid #FCB829;
        border-right: 1px solid #FCB829;
        color: #FCB829;
      }
    }
    .line-title{
      background-color: #444;
    }
    .title-section{
      color: #222;
      font-size: 18px;
      span{
        color: #FCB829;
      }
    }
    .service-content{
      width: 95%;
      position: relative;
      padding-bottom: 0px;
      padding: 0px;
    }
    .service-element:hover{
      .title-service{
        color: #FCB829;
      }
      .image-service{
        border: 1px solid #fdd47e;
        box-shadow: 0px 5px 2px #fdd47e;
      }
    }
    .service-element{
      padding: 0px 10px 10px;
      margin-top: 100px;
      float: left;
      text-align: center;
      opacity: 1;

      &:nth-child(1){
        width: 33.3%;
        margin-left: 0px;
      }
      &:nth-child(2){
        margin-top: 100px;
        width: 33.3%;
      }
      &:nth-child(3){
  /*      position: absolute;
        right: 0;*/
        width: 33.3%;
        margin-top: 100px;
      }
      &:nth-child(4){
        margin-top: 70px !important;
        margin-left: 10%;
        margin-right: 0% !important;
        width: 40%;
      }
      &:nth-child(5){
        width: 40%;
        margin-right: 10% !important;
        margin-left: 0%;
        margin-top: 70px;
        position: relative;
        right: 0;
      }

      .image-service{
        margin: -50px auto;
        width: 60px;
        height: 60px;
        background: white;
        border: 1px solid #e6e6e6;
        border-radius: 50%;
        box-shadow: 0px 5px 2px #bfbfbf;
        img{

        }
      }
      .title-service{
  /*      color: #FCB829;
  */
        color: #444;
        text-transform: uppercase;
        margin-top: 80px;
        font-size: 12px;
        font-weight: 600;
      }
      .content-service{
        /*color: #444;*/
        color: black;
        text-align: center;
        margin-top: 10px;
        font-size: 12px;
        font-weight: 400;
        letter-spacing: 0.8px;
        font-family: 'Roboto', 'Open Sans';
      }
    }
  }

  //PORTFOLIO

  .portfolio-section {
    .title-portfolio {
      padding: 10px 0px 20px 0px;
      height: 150px;
      .title-small {
        margin-top: 25px;
      }
      .sub-title-section {
        width: 80%;
      }
    }
  }

  .portfolio-details {
    .navigation-bar {
      width: 80%;
    }
    .portfolio-content{
      .portfolio-group {
        .portfolio-element{
          .icon1{
            position: absolute;
            top: 80%;
            left: 10%;
            z-index: 2;
            display: none;
            img{
              height:25px;
              width: 25px;
              opacity: 1;
            }
          }
          .icon2{
            position: absolute;
            top: 80%;
            left: 44%;
            z-index: 2;
            display: none;
            img{
              height: 25px;
              width: 25px;
              opacity: 1;
            }
          }
          .icon3{
            position: absolute;
            top: 80%;
            right: 10%;
            z-index: 2;
            display: none;
            img{
              height: 25px;
              width: 25px;
              opacity: 1;
            }
          }
          .introduction{
            transition: opacity 2s ease-in;
            display: none;
            background: transparent;
            /*opacity: 0.3;*/
            padding: 15px 10px 15px 10px;
            color: white;
            text-align: center;
            height: 100%;
            z-index: 2;
            position: absolute;
            .title{
              margin-top: 5px;
              font-weight: 600;
              color: #fcbf3e;
              margin-bottom: 10px;
              font-size: 13px;
              text-transform: uppercase;
            }
            .description{
              p{
                font-size: 10px;
                font-weight: 400;
                width: 90%;
                margin: auto;
                font-family: 'Roboto', 'Open Sans';
              }
            }
          }
        }
        .carousel-inner {
          .item {
            height: 450px;
            .portfolio-element{
              opacity: 1;
              width: 50%;
              height: 50%;
            }
          }
        }
      }
    }
  }
  //FEEDBACK
  .feedback-section{
    .feedback-group {
      .feedback.element{
        width: 100%;
        .info-customer {
          .feedback-content {
            min-height: 100px;
          }
        }
      }
    }
    ol.carousel-indicators {
      li {
        width: 15px;
        height: 15px;
      }
    }
  }
  //ABOUT
  .introduce-section{
    padding: 60px 100px;
    h1{
      font-size: 22px;
      line-height: 38px;
    }
  }
  .about-section{
    padding: 0px 15px 50px 0px;
    .about-info {
      padding: 0px 15px;
      .introduce-element {
        width: 90%;
      }
      .about-element {
        /*p {display: none;}*/
        .line { margin-bottom: 15px; }
      }
      .rule-content {
        .rule-element {display: none;}
      }
      .mission-content {
        p {display: none;}
        .line { margin-bottom: 15px; }
      }
    }
  }
  //TECH
  .tech-section {
    .tech-group {
      width: 100%;
    }
  }

  //TESTIMONIAL
  .feedback-section{
    .feedback-element{
      width: 100%;
      .image-customer{
        float: left;
        text-align: left;
      }
      .caret{
        display: block;
      }
      .feeback-content{
        margin-left: 130px;
      }
    }
  }
  //TEAM
  .team-section{
    padding-top: 60px;
    .team-content {
      .team-element {
        width: 40%;
        margin-right: 5%;
        margin-left: 5%;
      }
    }
    .team-slogan {
      p { width: 80%; }
      margin-bottom : 20px;
    }
    button {
      margin-top: 15px;
      margin-bottom: 50px;
      width: 25%;
      margin-left: auto !important;
      margin-right: auto !important;

    }
    .team-banner {
      .banner-content {
        .logo {
          img {
            height: 50px;
          }
        }
        .slogan {
          p { width: 80%; }
        }
      button { width: 40% !important; margin-top: 10px; }
      }
    }
  }
  //CLIENT
  .partner-section{
    .introduce-clients {
      width: 80%;
    }
  }
  //GET IN TOUCH
  .touch-section {
    .touch-content {
      width: 90%;
      .touch-introduce {
        width: 70%;
      }
      .touch-form {
        .input-1, .input-2 {
          width: 48%;
          margin-bottom: 10px;
        }
        .input-3 {
          textarea {
          }
        }
      }
    }
  }
  //FOOTER
  .footer-section {
    .footer-upper {
      .footer-part {
        .footer-banner {
          .footer-group {
            width: 90%;
          }
        }
      }
    }
    .footer-main {
      .footer-content {
        width: 80%;
        padding-top: 10px;
        .footer-col {
          .line {
            margin-bottom: 10px;
          }
          width: 100%;
          margin-left: 0%;
          margin-right: 0%;
          margin-top: 15px;
          margin-bottom: 0px;
        }
        .footer-col:nth-child(2) {
          display: none;
        }
      }
    }
  }
}

//================
// iphone6
//================

@media screen and (max-width: 375px) {

  //HEADER

  //SLIDER
  .slider-section{
    height: 500px;
    .slider-content{
      top: 130px;
      transform: translateY(-75%);
      margin-top: 260px;
      .slider-title{
        font-size: 14px;
        margin-top: 10px;
        span {
          font-size: 19px;
        }
      }
    }
  }

  //SERVICE

  .service-section {
    .sub-title-section{
      font-size: 13px;

    }
    .title-section{

      font-size: 16px;
    }
    .service-content {
      .service-element {
        h5.title-service {
          font-size: 9px;
        }
      }
    }

  }

  //PORTFOLIO

  .portfolio-section {
    .title-portfolio {
      padding: 10px 0px 20px 0px;
      height: 140px;
      .title-small {
        margin-top: 5px;
        span {
          font-size: 16px;
        }
      }
      .sub-title-section {
        width: 80%;
        font-size: 13px;
      }
    }
  }
  .portfolio-details {
    .portfolio-content {
      .portfolio-group {
        .portfolio-element {
          .introduction {
            .title {
              margin-bottom: 5px;
              margin-top: 0px;
            }
            .description {
              p {
                line-height: 15px;
                width: 100%;
              }
            }
          }
        }
      }
    }
  }

  //FEEDBACK
  .feedback-section{
    .title-testimonial {
      span {
        font-size: 16px;
      }
    }
    .testimonial-slogan {

      p {
        font-size: 13px;
        width: 290px !important;
      }
    }
  }
  //ABOUT
  .about-section {
    .title-section {
      span {
        font-size: 16px;
      }
    }

    .about-info {
      .introduce-element {
        p {
          font-size: 13px;
        }
      }
    }
  }
  //TECH
  .tech-section {
    .tech-title {
      font-size: 16px;
    }
  }

  //TESTIMONIAL
  .feedback-section{
    .feedback-element{
      width: 100%;
      .image-customer{
        float: left;
        text-align: left;
      }
      .caret{
        display: block;
      }
      .feeback-content{
        margin-left: 130px;
      }
    }
  }
  //TEAM
  .team-section{
    padding-top: 60px;
    .team-title {
      font-size: 16px;
    }
    .team-slogan {
      p {
        font-size: 13px;
      }
    }
    .team-banner {
      .banner-content {
        .title {
          font-size: 16px;
        }
      button { width: 50% !important; margin-top: 10px; }
      }
    }
  }
  //CLIENT
  .partner-section{
    .title-clients {
      span { font-size: 16px; }
    }
    .introduce-clients {
      width: 80%;
      p {
        font-size: 13px;
      }
    }
  }
  //GET IN TOUCH
  .touch-section {
    .touch-content {
      .touch-title {
        font-size: 16px;
      }
      .touch-introduce {
        p {
          font-size: 13px;
        }
      }
    }
  }
  //FOOTER
  .footer-section {
    .footer-upper {
      .footer-part {
        .footer-banner {
          .footer-group {
            width: 90%;
          }
        }
      }
    }
  }
}

//================
// iphone5
//================

@media screen and (max-width: 320px) {

  //HEADER

  .header-section{
    padding: 5px 40px 5px;
    .logo{
      .image-logo{
        width: 50px !important;
        height: 50px !important;
      }
      .title-logo{
        height: 55px;
        float: left;
        .title-main{
          margin-top: 13px !important;
          padding: 0px 0px 6px 8px !important;
          font-size: 26px !important;
        }
        .line-logo{
          width: 102%;
          height: 3px;
          background: black;
        }
      }
    }
    .navigation {
      .navbar{
        min-height: 30px;
        img{
          width: 25px;
        }
      }
    }
  }

  //SLIDER

  .slider-content{
    top: 130px;
    transform: translateY(-75%);
    margin-top: 260px;
    .slider-title{
      font-size: 14px;
      margin-top: 10px;
      span {
        font-size: 19px;
      }
    }
    button{
      margin-top: 40px;
    }
    button.btn-details {
      margin-top: 10px;
      padding: 5px 15px;
      font-size: 12px;
    }
  }

  //SERVICE

  .service-section {
    .sub-title-section{
      font-size: 13px;

    }
    .title-section{

      font-size: 16px;
    }
    .service-element {
      h5.title-service {
        font-size: 9px;
      }
    }
  }

  //PORTFOLIO

  .portfolio-section {
    .title-portfolio {
      padding: 10px 0px 20px 0px;
      height: 140px;
      .title-small {
        margin-top: 5px;
        span {
          font-size: 16px;
        }
      }
      .sub-title-section {
        width: 80%;
        font-size: 13px;
      }
    }
  }

/*  //FEEDBACK
  .feedback-section{
    .title-testimonial {
      span {
        font-size: 16px;
      }
    }
    .testimonial-slogan {
      p {
        font-size: 13px;
      }
    }
  }
  //ABOUT
  .introduce-section{
    .title-section {
      span {
        font-size: 16px;
      }
    }

    .about-info {
      .introduce-element {
        p {
          font-size: 13px;
        }
      }
    }
  }
  //TECH
  .tech-section {
    .tech-title {
      font-size: 16px;
    }
  }

  //TESTIMONIAL
  .feedback-section{
    .feedback-element{
      width: 100%;
      .image-customer{
        float: left;
        text-align: left;
      }
      .caret{
        display: block;
      }
      .feeback-content{
        margin-left: 130px;
      }
    }
  }
  //TEAM
  .team-section{
    padding-top: 60px;
    .team-title {
      font-size: 16px;
    }
    .team-slogan {
      p {
        font-size: 13px;
      }
    }
    .team-banner {
      .banner-content {
        .title {
          font-size: 16px;
        }
      button { width: 5 0% !important; margin-top: 10px; }
      }
    }
  }
  //CLIENT
  .partner-section{
    .title-clients {
      span { font-size: 16px; }
    }
    .introduce-clients {
      width: 80%;
      p {
        font-size: 13px;
      }
    }
  }
  //GET IN TOUCH
  .touch-section {
    .touch-content {
      .touch-title {
        font-size: 16px;
      }
      .touch-introduce {
        p {
          font-size: 13px;
        }
      }
    }
  }
  //FOOTER*/
}

