//=================
// Responsive style
//=================

// Medium devices
@media screen and (max-width: 1200px){

//header
  .header-section{
    .navigation{
      position: static;
      .logo{
        float: left;
        width: auto;
      }
      .navbar{
        display: block;
        float: right;
        margin: 0px;
        margin-top: 10px;
        cursor: pointer;
        vertical-align: middle;
        img{
          width: 30px;
          height: auto;
        }
      }
      .menu-content{
        padding: 0px;
        margin-left: 0px;
        width: 100%;
        float: left;
        display: none;
        position: fixed;
        top: 0px;
        left: 0px;
        height: 100%;
        background-color: #f7f7f7;
        #home {
          margin-top: 50px;
        }
        li{
          float: none;
          padding: 10px 0px;
          position: relative;
          z-index: 1;
          font-size: 22px;
          text-transform: uppercase;
          margin-bottom: 50px;
          margin-top: 50px;
          text-align: center;
          &.bg-menu{
            width: 100%;
            height: 100%;
            position: absolute;
            z-index: 0;
            background: #FCB829;
          }
          &.active, &:hover{
            color: black;
            font-weight: 600;
            font-size: 25px;
          }
        }
      }
    }
  }

//SERVICE

//PORFOLIO

//TESTIMONIAL

//ABOUT

//TECH

//TEAM

//FOOTER

}

// Small devices
@media screen and (max-width: 1024px) {
  //SERVICE
    .service-section {
      .service-content {
        width: 95%;
      }
    }
  //PORTFOLIO
  .portfolio-details {
    .portfolio-content {
      .item {
        height: 290px;
      }
    }
  }
  .portfolio-section {
    .sub-title-section {
      width: 40%;
    }
    .control{
      margin: 30px auto;
      width: 600px;
      text-align: center;
    }
  }
  //TESTIMONIAL
  .feedback-section{
    .feedback-group{
      width: 95%;
      .feedback-content{
        min-height: 145px;
      }
    }
  }

  //INTRODUCE
  .introduce-section{
    padding: 60px 100px;
  }
  //ABOUT
  .about-section {
    .about-info {
      width: 95%;
      .rule-element, .about-element, .introduce-element {
        width: 33.3%;
      }
    }
  }
  //TECH
  .tech-section {
    .tech-group {
      width: 90%;
    }
  }
  //TEAM
  .team-section {
    .team-slogan {
      p {
        width: 40%;
      }
    }
    .team-content {
      width: 95%;
    }
    .team-banner {
      .banner-content {
        .slogan {
          p {
            width: 40%;
          }
        }
        button {
          width: 20%;
        }
      }
    }
  }
  //PARTNER
  .partner-section{
    padding: 35px 0px 65px 0px;
    .introduce-clients {
      width: 40%;
    }
    .partner-content {
      .partner-element{
        width: 50%;
      }
    }
  }
  //TOUCH
  .touch-section {
    .touch-content {
      width: 80%;
    }
  }
  //FOOTER
  .footer-section {
    .footer-upper {
      .footer-banner {
        .footer-group {
          width: 50%;
        }
      }
    }
    .footer-main {
      .footer-content {
        width: 95%;
      }
    }
  }
}

//====================
// Extra small devices
//====================
@media screen and (max-width: 768px) {
  //HEADER
  .header-section{
    padding: 5px 40px 5px;
    .logo{
      .image-logo{
        width: 50px !important;
        height: 50px !important;
      }
      .title-logo{
        height: 55px;
        float: left;
        .title-main{
          margin-top: 13px !important;
          padding: 0px 0px 6px 8px !important;
          font-size: 26px !important;
        }
        .line-logo{
          width: 102%;
          height: 3px;
          background: black;
        }
      }
    }
    .navigation {
      .navbar{
        min-height: 30px;
        img{
          width: 25px;
        }
      }
    }
  }
  //SLIDER
  .slider-content{
    top: 130px;
    transform: translateY(-75%);
    margin-top: 230px;
    .slider-title{
      font-size: 15px;
      margin-top: 10px;
      span {
        font-size: 20px;
      }
    }
    button{
      margin-top: 30px;
    }
    button.btn-details {
      margin-top: 0px;
    }
  }
  .slider-section{
    height: 500px;
  }
  //SERVICE
  .service-section{
    padding: 30px 40px;
    .sub-title-section {
      width: 45%;
    }
    .service-content {
      width: 100%;
      .service-element {
        padding: 0px;
        font-size: 10px;
        h5.title-service {
          margin-top: 75px;
          font-size: 10px;
        }
        .image-service {
          width: 80px;
          height: 80px;
          img {
            width: 40px;
            height: 40px;
            margin-top: 27.5% !important;
          }
          #web-img.img {
            margin-top: 27.5%;
          }
        }
      }
    }
  }
  //PORTFOLIO

  .portfolio-section {
    .title-portfolio {
      height: 190px;
      .title-small {
        margin-top: 25px;
      }
      .sub-title-section {
        width: 50%;
      }
    }
  }

  .portfolio-details {
    .navigation-bar {
      width: 50%;
    }
    .portfolio-content{
      .portfolio-group {
        .carousel-inner {
          .item {
            height: 800px;
            .portfolio-element{
              opacity: 1;
              width: 50%;
              height: 50%;
            }
          }
        }
      }
    }
  }
  //FEEDBACK
  .feedback-section{
    .feedback-group {
      .feedback.element{
        width: 100%;
        .image-customer{
          float: none;
          text-align: center;
          display: inline-block;
        }
        .name-customer {
          display: inline-block;
        }
        .caret{
          display: none;
        }
        .feeback-content{
          margin-left: 0px;
        }
      }
    }
    ol.carousel-indicators {
      li {
        width: 20px;
        height: 20px;
      }
    }
  }
  //ABOUT
  .introduce-section{
    padding: 60px 100px;
    h1{
      font-size: 22px;
      line-height: 38px;
    }
  }
  .about-section{
    .rule-content{
      width: 100%;
      border: 0 !important;
      .rule-element{
        img{
          width: 45px;
        }
        .rule-info {
          .title-rule{
            font-size: 17px;
          }
          p{
            font-size: 12px;
          }
        }
      }
    }
    .image-about{
      display: none;
    }
    .experience-content{
      p{
        font-size: 12px;
      }
    }
  }
  //TESTIMONIAL
  .feedback-section{
    .feedback-element{
      width: 100%;
      .image-customer{
        float: left;
        text-align: left;
      }
      .caret{
        display: block;
      }
      .feeback-content{
        margin-left: 130px;
      }
    }
  }
  .team-section{
    .team-element{
      width: 50%;
    }
  }
  //CLIENT
  .partner-section{
    .partner-element{
      width: 47%;
      margin-left: 6%;
      &:nth-of-type(4n+1){
        margin-left: 6%;
      }
      &:nth-of-type(3n+1){
        margin-left: 6%;
      }
      &:nth-of-type(2n+1){
        margin-left: 0px;
      }
    }
    .partner-content {
      .carousel-inner {
        width: 90%;
      }
    }
  }
  //GET IN TOUCH
  .touch-section {
    .touch-content {
      .touch-form {
        .input-1, .input-2 {
          width: 100%;
          margin-bottom: 10px;
        }
      }
    }
  }
  //FOOTER
  .footer-section {
    .footer-group {
      width: 80% !important;
    }
    .footer-main {
      .footer-content {
        padding-top: 40px;
        .footer-col {
          margin-bottom: 10px;
          .line {
            margin-bottom: 10px;
          }
        }
      }
    }
  }
  footer{
    .footer-col{
      width: 100%;
      margin-top: 35px;
      p{
        font-size: 13px;
      }
      h5{
        font-size: 18px;
      }
      .infomation{
        &:first-of-type{
          margin-top: 15px;
        }
      }
      .post-element{
        margin-top: 25px;
        .image-post{
          width: 70px !important;
          height: 70px !important;
        }
        .content-post{
          h6{
            font-size: 16px !important;
          }
          .time-post{
            .time-element{
              span{
                font-size: 11px !important;
              }
            }
          }
        }
      }
      &:last-child{
        h5{
          margin-bottom: 25px;
        }
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .portfolio-section {
    .title-portfolio {
      .sub-title-section {
        width: 80%;
      }
    }
  }
  .slider-section {
    .homepage-hero-module{
      background-image: url(asset_path('background-home-small.png'));
    }
    height: 450px;
  }
  .service-section{
    .service-content {
      .service-element {
        padding: 0px 5px;
        h5.title-service {
          font-size: 8px;
          margin-top: 10px;
        }
      }
    }
  }
}
