.content-admin{
  padding: 0px !important;
  h3{
    font: 40px VNFQuicksandRegular,sans-serif;
    text-align: center;
    color: #3a3a3a;
    border-bottom: 3px solid #5390f5;
    height: 100px;
    margin-top: 0px;
  }
  ul{
    margin-top: 20px;
    li{
      width: 165px;
      list-style: none;
      display: inline-block;
      padding: 5px;
      a{
        width: 100px;
      }
    }
  }
  .header_table{
    font-weight: bold;
  }

  // colors
  $color-one: #2c3e50;
  $btn-colors: (
    "green": "#2ecc71",
    "blue": "#3498db",
    "purple": "#9b59b6",
    "red": "#e74c3c"
  );

  // extenders
  .animate {
    transition: all 0.3s;
  }
  .btn {
    margin: 0px !important;
    float: left;
    display: inline-block;
    line-height: 35px;
    padding: 0 15px;
    font-size: 15px;
    position: relative;
    opacity: .999;
    border-radius: 3px;
    @extend .animate;
  }
  .btn-border-rev {
    background-color: white;
    border: 1px solid #e5e5e5;
    color: #a6a6a6;
    &:before,
    &:after {
      content: '';
      border-style: solid;
      position: absolute;
      z-index: 5;
      border-radius: 3px;
      box-sizing: content-box;
      @extend .animate;
    }
    &:before {
      width: 0;
      height: 100%;
      border-width: 1px 0 1px 0;
      top: -1px;
      right: 0;
    }
    &:after {
      width: 100%;
      height: 0;
      border-width: 0 1px 0 1px;
      bottom: 0;
      left: -1px;
      transition-delay: 0.05s;
    }
    &:hover {
      background-color: transparent;
      &:before {
        width: 100%;
      }
      &:after {
        height: 100%;
      }
    }
    @each $name,$hex in $btn-colors {
      &.btn-#{$name} {
        &:before,
        &:after {
          border-color: #{$hex};
        }
        &:hover {
          color: #{$hex};
        }
      }
    }
  }
}

/***
User Profile Sidebar by @keenthemes
A component of Metronic Theme - #1 Selling Bootstrap 3 Admin Theme in Themeforest: http://j.mp/metronictheme
Licensed under MIT
***/

body {
  background: #F1F3FA;
}

/* Profile container */
.profile {
  margin: 20px 0;
}

/* Profile sidebar */
.profile-sidebar {
  padding: 20px 0 10px 0;
  background: #fff;
}

.profile-userpic img {
  float: none;
  display: inline-block;
  margin: 0 auto;
  width: 50px;
  height: 50px;
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  border-radius: 50% !important;
  position: relative;
  top: -10px;
}

.profile-usertitle {
  text-align: center;
  margin-top: 20px;
}

.profile-usertitle-name {
  color: #5a7391;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 7px;
}

.profile-usertitle-job {
  text-transform: uppercase;
  color: #5b9bd1;
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 15px;
}

.profile-userbuttons {
  text-align: center;
  margin-top: 10px;
}

.profile-userbuttons .btn {
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 600;
  padding: 6px 15px;
  margin-right: 5px;
}

.profile-userbuttons .btn:last-child {
  margin-right: 0px;
}

.profile-usermenu {
  margin-top: 30px;
}

.profile-usermenu ul li {
  border-bottom: 1px solid #f0f4f7;
}

.profile-usermenu ul li:last-child {
  border-bottom: none;
}

.profile-usermenu ul li a {
  color: #93a3b5;
  font-size: 14px;
  font-weight: 400;
}

.profile-usermenu ul li a i {
  margin-right: 8px;
  font-size: 14px;
}

.profile-usermenu ul li a:hover {
  background-color: #fafcfd;
  color: #5b9bd1;
}

.profile-usermenu ul li.active {
  border-bottom: none;
}

.profile-usermenu ul li.active a {
  color: #5b9bd1;
  background-color: #f6f9fb;
  border-left: 2px solid #5b9bd1;
  margin-left: -2px;
}

/* Profile Content */
.profile-content {
  padding: 20px;
  background: #fff;
  min-height: 460px;
}
a{
  &:hover{
    background-color: #fff;
  }
}
.content-user{
  display: inline-block;
  padding-left: 10px;
  a{
    font: 14px 'Varela Round', sans-serif;
    color: #079BCE;
  }
  p{
    font: 12px 'Varela Round', sans-serif;
    color: #A0A7AD;
    margin-top: 5px;
    span{
      color: #079BCE;
      font-weight: 700;
    }
  }
}
.panel-default{
  width: 600px;
  margin: auto;
}
