// section#navigate.navigate-section
//   .inner-container
//     = render "blogs/toppage/navigate"
h1 Editing Post

= render 'form'

= link_to 'Show', blogs_post_path(@post), :class => "btn btn-blue btn-border-rev"
= link_to 'Back', blogs_post_path, :class => "btn btn-red btn-border-rev"
